<header>
  <div class="contenedor__header">
    <img class="logo_header" src="assets/logo_header.png" onclick="location.href='/inicio'" alt="Web Human" />
    <nav>
      <ul>
        <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/human-resource" routerLinkActive="active">Human Resource 3.0</a></li>
        <li><a routerLink="/partners" routerLinkActive="active">Partners</a></li>
        <li><a routerLink="/nosotros" routerLinkActive="active">Sobre Nosotros</a></li>
        <li><a routerLink="/contactanos" routerLinkActive="active">Contáctanos</a></li>
      </ul>
    </nav>
    <a routerLink="/iniciar-sesion" class="btn_all">Iniciar sesión</a>
  </div>
</header>
