<footer class="footer">
    <div class="footer-container">
      <div class="footer-column">
        <img src="/assets/logo_footer.png" alt="Human Resource 3.0 logo" onclick="location.href='/inicio'" class="footer-logo">
        <div class="social-icons">
          <a href="#"><i class='bx bxl-facebook-circle'></i></a>
          <a href="#"><i class='bx bxl-linkedin'></i></a>
          <a href="#"><i class='bx bxl-whatsapp'></i></a>
        </div>
      </div>
      <div class="footer-column">
        <p><strong>Horario de atención:</strong><br>
          Lunes - Viernes<br>
          9am - 6pm
        </p>
      </div>
      <div class="footer-column">
        <a href="#">Inicio</a><br>
        <a href="#">Servicios</a><br>
        <a href="#">Partners</a><br>
        <a href="#">Human Resource 3.0</a>
      </div>
      <div class="footer-column">
        <strong>Legales</strong><br>
        <ul>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
        <a href="#" class="reclamaciones-link">Libro de reclamaciones</a>
      </div>
    </div>
  </footer>
  