/* banner */
.contenedor__banner {
  height: 80vh;
  width: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
    url("/assets/img_banner4.jfif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contenedor__banner .content_banner {
  margin-left: 4rem;
  width: 36%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contenedor__banner .content_banner h2 {
  color: #fff;
  font-size: 3.1rem;
  line-height: 58.8px;
  font-weight: 400;
}
.contenedor__banner .content_banner p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.contenedor__banner .content_banner button {
  padding: 0.8rem 3rem;
}

/* esperiencia */
.section__exp {
  padding: 2rem 6rem;
}

.section__exp .contenedor__exp {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.section__exp .contenedor__exp .text__exp {
  width: 28rem;
  border-radius: 20px;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  z-index: 2;
}
.section__exp .contenedor__exp .text__exp h2 {
  color: #fbbb34;
  margin-bottom: 1.2rem;
  font-size: 2rem;
}
.section__exp .contenedor__exp .text__exp h2 span {
  color: #385193;
}
.section__exp .contenedor__exp .img__exp {
  width: 35rem;
  z-index: 2;
}
.section__exp .contenedor__exp .img__exp img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}

.section_1 {
  position: relative;
}
.contenedor__exp1 {
  position: relative;
}
.ellipse23 {
  position: absolute;
  left: 0;
  top: 8rem;
  z-index: 1;
}
.ellipse24 {
  position: absolute;
  right: 0;
  bottom: -2rem;
  z-index: 1;
}
.ellipse25 {
  position: absolute;
  left: 20rem;
  bottom: 2rem;
  z-index: 1;
}

.section__exp2 {
  position: relative;
}
.contenedor__exp2 {
  position: relative;
}
.ellipse26 {
  position: absolute;
  left: 0;
  bottom: -1rem;
  z-index: 1;
}
.ellipse27 {
  position: absolute;
  right: 0;
  bottom: 1rem;
  z-index: 1;
}

.section__exp3 {
  position: relative;
}
.contenedor__exp3 {
  position: relative;
}
.ellipse28 {
  position: absolute;
  left: -1rem;
  bottom: 1rem;
  z-index: 1;
}
.ellipse29 {
  position: absolute;
  left: 25rem;
  top: 0rem;
  z-index: 1;
}

.section__exp4 {
  position: relative;
}
.contenedor__exp4 {
  position: relative;
}
.ellipse30 {
  position: absolute;
  right: 2rem;
  top: 4rem;
  z-index: 1;
}
.ellipse31 {
  position: absolute;
  right: 26rem;
  bottom: 3.5rem;
  z-index: 1;
}

.section__exp5 {
  position: relative;
}
.contenedor__exp5 {
  position: relative;
}
.ellipse32 {
  position: absolute;
  left: 0;
  top: 5rem;
  z-index: 1;
}
.ellipse33 {
  position: absolute;
  right: 0;
  bottom: 8rem;
  z-index: 1;
}
.ellipse34 {
  position: absolute;
  top: 3rem;
  left: 4rem;
  z-index: 1;
}
.ellipse35 {
  position: absolute;
  left: 24rem;
  bottom: 4rem;
  z-index: 1;
}

/* suscripción */
.section__subs {
  height: 21rem;
  background: linear-gradient(
      90deg,
      #283a68 0%,
      rgba(255, 140, 128, 0.5) 68.8%,
      #fcd177 100%
    ),
    url("/assets/fondo_subs.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section__subs .contenedor__subs article {
  width: 40%;
}
.section__subs .contenedor__subs article h2 {
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.section__subs .contenedor__subs article h2 .orange {
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
  background-color: #fbbb34;
  color: #fff;
  width: fit-content;
  margin: 0.5rem 0;
}
.section__subs .contenedor__subs article h2 .blue {
  background-color: #385193;
  color: #fff;
  padding: 0.2rem 0.8rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  width: fit-content;
}
.section__subs .contenedor__subs {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.section__subs .contenedor__subs article .form__text .content__icon {
  width: 100%;
  height: 2.8rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 8px;
}

.section__subs
  .contenedor__subs
  article
  .form__text
  .content__icon
  .input::placeholder {
  color: #33333399;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.section__subs .contenedor__subs article .form__text .content__icon .input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1rem 1rem 1rem 2.4rem;
  outline: none;
}
.section__subs .contenedor__subs article .form__text .content__icon img {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  object-fit: contain;
  height: 1rem;
}
.section__subs .contenedor__subs article .form__text .content__icon .btn__sub {
  position: absolute;
  right: 0.8rem;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.4rem 1rem;
  background-color: #fbbb34;
  border-radius: 10px;
  font-size: 0.8rem;
  border-radius: 10px;
  border: none;
  width: fit-content;
  outline: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* modal nosotros */
.modal__contacto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.section__contacto {
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 10px;
  height: 40rem;
  width: 95%;
  position: relative;
}
.close__software i {
  font-size: 1.8rem;
}
.close__software {
  height: 2rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  outline: none;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.section__contacto .contenedor__contacto {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.section__contacto .contenedor__contacto .text__contacto {
  width: 32%;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}
.section__contacto .contenedor__contacto .text__contacto img {
  width: 100%;
  height: 25.94rem;
  object-fit: contain;
}
.section__contacto .contenedor__contacto .text__contacto p {
  margin: 1rem 0;
}
.section__contacto .contenedor__contacto .text__contacto h2 {
  font-size: 2rem;
}
.section__contacto .contenedor__contacto .form__contacto {
  width: 62%;
  height: 100%;
}
.section__contacto .contenedor__contacto .form__contacto form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section__contacto .contenedor__contacto .form__contacto form label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.section__contacto .contenedor__contacto .form__contacto form .content__form {
  width: 31%;
  margin-bottom: 1rem;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content__form
  .content__icon {
  width: 100%;
  height: 2.3rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 8px;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content__form
  .content__icon
  .input::placeholder {
  color: #33333399;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content__form
  .content__icon
  .input.ruc {
  padding: 0rem 1rem 0rem 1rem;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content__form
  .content__icon
  .input {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem 0rem 2.4rem;
  outline: none;
}

.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content__form
  .content__icon
  img {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
}

.section__contacto .contenedor__contacto .form__contacto form .content_checks {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content_checks
  h2 {
  width: 100%;
  margin-bottom: 1rem;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content_checks
  .check
  label {
  font-weight: normal;
  color: #333333;
}
.section__contacto
  .contenedor__contacto
  .form__contacto
  form
  .content_checks
  .check {
  display: flex;
  width: 50%;
  align-items: baseline;
  gap: 0.5rem;
  margin-bottom: 0rem;
}

.section__contacto .contenedor__contacto .form__contacto form textarea {
  width: 100%;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
  border: none;
  outline: none;
  resize: none;
  height: 10rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.section__contacto .contenedor__contacto .form__contacto form .btn_all {
  padding: 0.8rem 2.5rem;
}

/* hidden */
.ellipse1_movil {
  display: none;
}
.ellipse2_movil {
  display: none;
}

.btn__movil {
  display: none;
}

.title__movil {
  display: none !important;
}

@media (max-width: 768px) {
  /* banner */
  .contenedor__banner .content_banner {
    margin: 0;
    width: 90%;
  }
  .contenedor__banner {
    justify-content: center;
    height: 65vh;
  }
  .contenedor__banner .content_banner h2 {
    font-size: 2.4rem;
    width: 70%;
  }
  .contenedor__banner button {
    width: fit-content;
    text-align: center;
  }

  .btn__desktop {
    display: none;
  }
  .btn__movil {
    display: block;
  }
  /* esperiencia */
  .section__exp {
    padding: 4rem 2rem;
  }
  .section__exp .contenedor__exp1 {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .section__exp .contenedor__exp .text__exp {
    width: 100%;
  }
  .section__exp .contenedor__exp .img__exp img {
    height: auto;
    width: 110%;
    margin-left: -1rem;
  }
  .section__exp .contenedor__exp .img__exp {
    width: 100%;
  }
  .ellipse23 {
    width: 3rem;
    top: auto;
    bottom: 6rem;
  }
  .ellipse24 {
    width: 3rem;
    bottom: 1rem;
  }
  .ellipse25 {
    display: none;
  }
  .section__exp .contenedor__exp2 {
    flex-direction: column;
    gap: 2rem;
  }
  .section__exp .contenedor__exp3 {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .section__exp .contenedor__exp4 {
    flex-direction: column;
    gap: 2rem;
  }
  .section__exp .contenedor__exp5 {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  /* suscripción */
  .section__subs {
    padding: 4rem 2rem;
    height: auto;
  }
  .title__movil {
    display: flex !important;
  }
  .title__desktop {
    display: none !important;
  }
  .section__subs .contenedor__subs article .form__text .content__icon {
    height: 4rem;
  }
  .section__subs .contenedor__subs article .form__text .content__icon .input {
    width: 60%;
  }
  .section__subs
    .contenedor__subs
    article
    .form__text
    .content__icon
    .btn__sub {
    height: 60%;
  }

  #subscribete {
    padding-top: 50px;
    margin-top: -50px;
  }
  .section__subs .contenedor__subs {
    flex-direction: column;
    gap: 2rem;
  }
  .section__subs .contenedor__subs article {
    width: 100%;
  }
  .ellipse26 {
    display: none;
  }
  .ellipse27 {
    width: 3rem;
  }
  .ellipse1_movil {
    display: block;
    position: absolute;
    bottom: 17rem;
    z-index: 1;
    left: 0;
  }
  .ellipse2_movil {
    display: block;
    position: absolute;
    bottom: 20rem;
    z-index: 1;
    right: 0;
  }
  .ellipse28 {
    width: 5rem;
    left: -2rem;
    bottom: -2rem;
  }
  .ellipse29 {
    width: 5rem;
    left: auto;
    right: -2rem;
    top: 24rem;
  }
  .ellipse30 {
    right: -2rem;
    top: 16rem;
  }
  .ellipse31 {
    right: auto;
    left: -2rem;
    bottom: -1rem;
  }
  .ellipse32 {
    display: none;
  }
  .ellipse33 {
    display: none;
  }
  .ellipse34 {
    left: -4rem;
    top: 22rem;
  }
  .ellipse35 {
    left: auto;
    bottom: -2rem;
    right: -2rem;
  }

  /* modal nosotros */
  .section__contacto {
    height: 95vh;
    overflow: auto;
  }
  .section__contacto .contenedor__contacto {
    flex-direction: column;
    gap: 1rem;
  }
  .section__contacto .contenedor__contacto .form__contacto {
    width: 100%;
  }
  .section__contacto .contenedor__contacto .text__contacto {
    width: 100%;
  }
  .section__contacto .contenedor__contacto .form__contacto form .content__form {
    width: 100%;
    margin-bottom: 1rem;
  }
  .section__contacto .contenedor__contacto .form__contacto form {
    flex-direction: column;
    height: fit-content;
  }
  .section__contacto
    .contenedor__contacto
    .form__contacto
    form
    .content_checks
    .check {
    width: 100%;
    flex-direction: column;
  }
  .close__software {
    top: 0.5rem;
    right: 0;
  }
}
