<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Innovando en Recursos Humanos desde 2010</h2>
    <p>
      Más de 10 años transformando la gestión de recursos humanos con tecnología
      avanzada
    </p>
    <button class="btn_all" (click)="openModal()">Empezar ahora</button>
  </div>
</div>
<div class="main__section">
  <section class="section__exp section_1">
    <img src="assets/ellipse23.png" class="ellipse23" alt="" />
    <img src="assets/ellipse24.png" class="ellipse24" alt="" />
    <div class="contain_s contenedor__exp contenedor__exp1">
      <img src="assets/ellipse25.png" class="ellipse25" alt="" />
      <article class="text__exp">
        <h2>
          <span>Experiencia y</span>
          Trayectoria
        </h2>
        <p>
          Desde 2010, Human ha sido pionero en la implantación de herramientas
          tecnológicas innovadoras, adaptadas a las necesidades específicas de
          cada cliente. Con más de una década de experiencia, ofrecemos
          soluciones sólidas y efectivas para la gestión de recursos humanos.
        </p>
      </article>
      <article class="img__exp">
        <img src="assets/img_exp.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__exp section__exp2">
    <img src="assets/ellipse26.png" class="ellipse26" alt="" />
    <img src="assets/ellipse27.png" class="ellipse27" alt="" />
    <div class="contain_s contenedor__exp contenedor__exp2">
      <article class="img__exp">
        <img src="assets/img_cloud.png" alt="" />
      </article>
      <article class="text__exp">
        <h2>
          <span>Nativos</span>
          Cloud
        </h2>
        <p>
          Nuestra plataforma está completamente basada en la nube, lo que nos
          permite ofrecer soluciones rápidas, accesibles y seguras. Con un
          modelo Cloud Computing Multitenant, garantizamos que toda la
          información de tu empresa esté conectada y automatizada.
        </p>
      </article>
    </div>
  </section>
  <section class="section__exp section__exp3">
    <div class="contain_s contenedor__exp contenedor__exp3">
      <img src="assets/ellipse28.png" class="ellipse28" alt="" />
      <img src="assets/ellipse29.png" class="ellipse29" alt="" />
      <article class="text__exp">
        <h2>
          <span>Accesibilidad y</span>
          Visibilidad
        </h2>
        <p>
          Con un único punto de acceso web, facilitamos la toma de decisiones al
          conectar y automatizar todos tus datos y procesos en un solo entorno.
          Esto te brinda la visibilidad necesaria para gestionar tu empresa con
          eficacia.
        </p>
      </article>
      <article class="img__exp">
        <img src="assets/img_acc.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__exp section__exp4">
    <div class="contain_s contenedor__exp contenedor__exp4">
      <img src="assets/ellipse30.png" class="ellipse30" alt="" />
      <img src="assets/ellipse31.png" class="ellipse31" alt="" />
      <article class="img__exp">
        <img src="assets/img_integracion.png" alt="" />
      </article>
      <article class="text__exp">
        <h2>
          <span>Integración y</span>
          Adaptabilidad
        </h2>
        <p>
          Human se integra perfectamente con otros productos y herramientas,
          ofreciendo flexibilidad para personalizar la solución a tus
          necesidades. Nuestro software es 100% adaptable a la imagen y procesos
          de tu empresa, asegurando que siempre esté alineado con tu identidad
          corporativa.
        </p>
      </article>
    </div>
  </section>
  <section class="section__exp section__exp5">
    <img src="assets/ellipse32.png" class="ellipse32" alt="" />
    <img src="assets/ellipse33.png" class="ellipse33" alt="" />
    <div class="contain_s contenedor__exp contenedor__exp4">
      <img src="assets/ellipse34.png" class="ellipse34" alt="" />
      <img src="assets/ellipse35.png" class="ellipse35" alt="" />
      <article class="text__exp">
        <h2>
          <span>Equipo Multidisciplinario y</span>
          Mantenimiento Evolutivo
        </h2>
        <p>
          Contamos con un equipo de profesionales especializados en diferentes
          áreas, todos enfocados en un mismo objetivo: impulsar tu negocio.
          Además, apostamos por un mantenimiento evolutivo para que nuestra
          plataforma esté siempre a la vanguardia de la tecnología.
        </p>
      </article>
      <article class="img__exp">
        <img src="assets/img_team.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__subs">
    <div class="contain_s contenedor__subs">
      <article>
        <h2>
          <div>El futuro de la gestión de</div>
          <div>recursos humanos está aquí.</div>
          <div>
            <span class="orange">¿Estás listo para ser parte?</span>
          </div>
        </h2>
      </article>
      <article>
        <div class="form__text">
          <div class="content__icon">
            <img src="assets/email_img.png" alt="" />
            <button class="btn__sub">Regístrate</button>
            <input
              type="email"
              placeholder="Correo electrónico corporativo"
              class="input"
              name=""
              id=""
            />
          </div>
        </div>
      </article>
    </div>
  </section>
</div>

<div class="modal__contacto" *ngIf="isModalOpen">
  <section class="section__contacto" id="contacto">
    <button class="close__software" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <div class="contain_s contenedor__contacto">
      <article class="text__contacto">
        <div>
          <h2>¿Listo para dar el gran paso hacia el crecimiento?</h2>
          <p>
            Completa el siguiente formulario y descubre cómo Human puede
            transformar la gestión de recursos humanos en tu empresa.
          </p>
        </div>
        <img src="assets/img_contacto.png" alt="Contacto" />
      </article>
      <article class="form__contacto">
        <form action="">
          <div class="content__form">
            <label for=""> Nombre de contacto </label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                placeholder="Nombre de contacto"
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Nombre de la empresa</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">RUC de la empresa</label>
            <div class="content__icon">
              <input type="number" class="input ruc" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Número de colaboradores</label>
            <div class="content__icon">
              <img src="assets/colaboradores_img.png" alt="" />
              <select name="" id="" class="input">
                <option value="">Ej: 10 colaboradores</option>
                <option value="10">De 10 a 50 empleados</option>
                <option value="51">De 51 a 100 empleados</option>
                <option value="101">De 101 a 200 empleados</option>
                <option value="201">De 201 a 500 empleados</option>
                <option value="501">Más de 500 empleados</option>
              </select>
            </div>
          </div>
          <div class="content__form">
            <label for="">País</label>
            <div class="content__icon">
              <img src="assets/location_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                class="input"
                placeholder="empresa@gmail.com"
              />
            </div>
          </div>
          <div class="content_checks">
            <h2>¿En que te ayudamos?</h2>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Nóminas</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del tiempo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del talento</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Planificación</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión Inteligente de espacios de trabajo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Portal del empleado</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Presupuestos y costo de personal</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión de relaciones laborales</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Viáticos</label>
            </div>
          </div>
          <textarea
            class="textarea"
            name=""
            id=""
            placeholder="Escribe cualquier comentario o pregunta adicional"
          ></textarea>
          <button class="btn_all">Enviar</button>
        </form>
      </article>
    </div>
  </section>
</div>
<app-footer></app-footer>
