<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Únete a la Red de Partners de Human</h2>
    <p>
      Potencia el éxito de tus clientes y acelera la transformación de sus
      procesos con nuestra solución integral de gestión de recursos humanos
    </p>
    <a href="/partners#solicitar" class="btn_all">Empezar ahora</a>
  </div>
</div>

<div class="main__section">
  <section class="section__ptext">
    <div class="contain_s contenedor__ptext">
      <article>
        <p>
          En Human, creemos en el poder de las alianzas estratégicas para
          transformar la gestión de recursos humanos. Invitamos a empresas
          especializadas en RR.HH. a unirse a nosotros como partners y trabajar
          juntos para ayudar a nuestros clientes a optimizar sus procesos y
          alcanzar nuevos niveles de eficiencia y productividad.
        </p>
      </article>
    </div>
  </section>
  <section class="section__pdescubre">
    <img src="assets/ellipse13.png" class="ellipse13" alt="" />
    <img
      src="assets/ellipse13_movil_error.png"
      class="ellipse13_movil"
      alt=""
    />
    <img src="assets/ellipse16.png" class="ellipse16" alt="" />
    <div class="contain_s contenedor__pdescubre desktop__contacto">
      <img src="assets/ellipse14.png" class="ellipse14" alt="" />
      <img src="assets/ellipse15.png" class="ellipse15" alt="" />
      <article class="text__pdescubre">
        <h2>
          <div>
            Descubre nuestro
            <span class="orange">programa de</span>
          </div>
          <div>
            <span class="orange">Partners</span>
          </div>
        </h2>
        <p>
          Nos asociamos con empresas cuyo objetivo es crecer distribuyendo
          soluciones digitales y aportando más valor a tus clientes.
        </p>
        <ul>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Forma parte de la red Human aumentando tu visibilidad.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Ayudar a tus clientes a digitalizar sus procesos y proporcionar
            constantemente nuevas soluciones.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Conseguir un partnership con objetivos y compromisos a largo plazo.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Ofrece a tus clientes y amigos la solución de RRHH más competitiva
            del mercado con un descuento especial.
          </li>
        </ul>
      </article>
      <article class="img__pdescubre">
        <img src="assets/descubre_img.png" alt="" />
      </article>
    </div>
    <div class="contain_s contenedor__pdescubre movil__contacto">
      <img src="assets/ellipse14.png" class="ellipse14" alt="" />
      <img src="assets/ellipse15.png" class="ellipse15" alt="" />
      <article class="text__pdescubre">
        <h2>
          <div>
            Descubre nuestro
            <span class="orange">programa de</span>
          </div>
          <div>
            <span class="orange">Partners</span>
          </div>
        </h2>
        <p>
          Nos asociamos con empresas cuyo objetivo es crecer distribuyendo
          soluciones digitales y aportando más valor a tus clientes.
        </p>
        <img src="assets/movil_parnert.png" alt="" />
        <ul>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Forma parte de la red Human aumentando tu visibilidad.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />

            Ayudar a tus clientes a digitalizar sus procesos y proporcionar
            constantemente nuevas soluciones.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />

            Conseguir un partnership con objetivos y compromisos a largo plazo.
          </li>
          <li>
            <img src="assets/check_circle.png" alt="" />
            Ofrece a tus clientes y amigos la solución de RRHH más competitiva
            del mercado con un descuento especial.
          </li>
        </ul>
        <img src="assets/movil1_parnert.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__pbeneficios">
    <h2 class="desktop__contacto3">
      Beneficios de ser un
      <div>
        <span class="orange">Partner de Human</span>
      </div>
    </h2>
    <h2 class="movil__contacto3">
      <div>
        Beneficios de ser un
        <span class="orange">Partner de</span>
      </div>
      <div>
        <span class="orange">Human</span>
      </div>
    </h2>
    <!-- <div
      #sliderContainer
      class="contain_s contenedor__pbeneficios"
      (mousedown)="onDragStart($event)"
      (mousemove)="onDragging($event)"
      (mouseup)="onDragEnd()"
      (mouseleave)="onDragEnd()"
      (touchstart)="onDragStart($event)"
      (touchmove)="onDragging($event)"
      (touchend)="onDragEnd()"
    >
      <article>
        <b>Optimización de recursos</b>
      </article>
      <article>
        <b>Toma de decisiones informadas</b>
      </article>
      <article>
        <b>Incremento de la productividad</b>
      </article>
      <article>
        <b>Mejora en la satisfacción del empleado</b>
      </article>
      <article>
        <b>Perzonalización y adaptación</b>
      </article>
      <article>
        <b>Gestión eficiente de recursos</b>
      </article>
      <article>
        <b>Soporte y mejora continua</b>
      </article>
      <article>
        <b>Ventajas comerciales y financieras</b>
      </article>
    </div> -->
    <div class="contain_s content__arrows">
      <div class="contenedor__pbeneficios" #sliderBeneficio>
        <article>
          <b>Optimización de recursos</b>
        </article>
        <article>
          <b>Toma de decisiones informadas</b>
        </article>
        <article>
          <b>Incremento de la productividad</b>
        </article>
        <article>
          <b>Mejora en la satisfacción del empleado</b>
        </article>
        <article>
          <b>Perzonalización y adaptación</b>
        </article>
        <article>
          <b>Gestión eficiente de recursos</b>
        </article>
        <article>
          <b>Soporte y mejora continua</b>
        </article>
        <article>
          <b>Ventajas comerciales y financieras</b>
        </article>
      </div>
      <button class="left__beneficios" (click)="leftBeneficio()">
        <i class="bx bx-chevron-left"></i>
      </button>
      <button class="right__beneficios" (click)="rightBeneficio()">
        <i class="bx bx-chevron-right"></i>
      </button>
    </div>
  </section>
  <section class="section__pred">
    <h2>
      Nuestra
      <div>
        <span class="orange">Red de Partners</span>
      </div>
    </h2>
    <div class="contain_s contenedor__pred">
      <article>
        <img src="assets/red_part1.png" alt="" />
      </article>
      <article>
        <img src="assets/red_part2.png" alt="" />
      </article>
      <article>
        <img src="assets/red_part3.png" alt="" />
      </article>
      <article>
        <img src="assets/red_part4.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__pconvertirse">
    <h2 class="desktop__contacto4">
      ¿Como convertirse en un Partner de Human?
    </h2>
    <h2 class="movil__contacto4">
      <div>
        ¿Como convertirse en un
        <span class="orange">Partner de</span>
      </div>
      <div>
        <span class="orange">Human</span>
      </div>
      ?
    </h2>
    <img src="assets/ellipse17.png" class="ellipse17" alt="" />
    <img src="assets/ellipse18.png" class="ellipse18" alt="" />
    <img src="assets/ellipse19.png" class="ellipse19" alt="" />
    <img src="assets/ellipse20.png" class="ellipse20" alt="" />
    <img src="assets/ellipse21.png" class="ellipse21" alt="" />
    <img src="assets/ellipse22.png" class="ellipse22" alt="" />
    <div class="contain_s contenedor__pconvertirse desktop__contacto2">
      <article>
        <div class="text1__convertirse">
          <b>Solicita información</b>
          <p>
            Completa nuestro formulario de contacto para recibir más información
            sobre el programa de partners.
          </p>
        </div>
        <div class="text2__convertirse">
          <b>Evaluación y aprobación</b>
          <p>
            Nuestro equipo evaluará tu solicitud y se pondrá en contacto contigo
            para discutir los detalles y los siguientes pasos.
          </p>
        </div>
        <div class="text3__convertirse">
          <b>Capacitación y onboarding </b>
          <p>
            Participa en nuestro programa de capacitación y onboarding para
            familiarizarte con la plataforma Human y sus funcionalidades.
          </p>
        </div>
        <div class="text4__convertirse">
          <b>Empieza a transformar </b>
          <p>
            Comienza a ofrecer Human a tus clientes y acompáñalos en su viaje
            hacia la optimización y transformación de sus procesos de RR.HH.
          </p>
        </div>
        <img src="assets/frame1_convertirse.png" class="frame1" alt="" />
        <img src="assets/frame2_convertirse.png" class="frame2" alt="" />
        <img src="assets/frame3_convertirse.png" class="frame3" alt="" />
        <img src="assets/frame4_convertirse.png" class="frame4" alt="" />
        <div class="line__convertirse">
          <img src="assets/line_convertirse.png" alt="" />
        </div>
      </article>
    </div>
    <div class="contain_s contenedor__pconvertirse movil__contacto2">
      <article>
        <div class="text1__convertirse">
          <b>Solicita información</b>
          <p>
            Completa nuestro formulario de contacto para recibir más información
            sobre el programa de partners.
          </p>
        </div>
        <div class="text2__convertirse">
          <b>Evaluación y aprobación</b>
          <p>
            Nuestro equipo evaluará tu solicitud y se pondrá en contacto contigo
            para discutir los detalles y los siguientes pasos.
          </p>
        </div>
        <div class="text3__convertirse">
          <b>Capacitación y onboarding </b>
          <p>
            Participa en nuestro programa de capacitación y onboarding para
            familiarizarte con la plataforma Human y sus funcionalidades.
          </p>
        </div>
        <div class="text4__convertirse">
          <b>Empieza a transformar </b>
          <p>
            Comienza a ofrecer Human a tus clientes y acompáñalos en su viaje
            hacia la optimización y transformación de sus procesos de RR.HH.
          </p>
        </div>
        <img src="assets/frame1_convertirse_movil.png" class="frame1" alt="" />
        <img src="assets/frame2_convertirse_movil.png" class="frame2" alt="" />
        <img src="assets/frame3_convertirse_movil.png" class="frame3" alt="" />
        <img src="assets/frame4_convertirse_movil.png" class="frame4" alt="" />
        <div class="line__convertirse">
          <img src="assets/line_convertirse_movil.png" alt="" />
        </div>
      </article>
    </div>
  </section>
  <section class="section__psolicitar" id="solicitar">
    <div class="contain_s contenedor__psolicitar">
      <article class="text__psolicitar">
        <h2>
          <div>
            Solicita información para convertirse en un
            <span class="orange">Partner de</span>
          </div>
          <div>
            <span class="orange">Human</span>
          </div>
        </h2>
        <p>
          Completa el siguiente formulario para recibir más información sobre
          cómo unirte a la red de partners de Human. Nos pondremos en contacto
          contigo para discutir los detalles y los siguientes pasos.
        </p>
        <img src="assets/contacto__part.png" alt="" />
      </article>
      <article class="form__psolicitar">
        <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
          <!-- Nombre de contacto -->
          <div class="content__form">
            <label for="contactName">Nombre de contacto</label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                formControlName="contactName"
                placeholder="Nombre de contacto"
                id="contactName"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('contactName')?.hasError('required') &&
                contactForm.get('contactName')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('contactName')?.hasError('pattern') &&
                contactForm.get('contactName')?.touched
              "
            >
              Solo se permiten letras y espacios.
            </p>
          </div>

          <!-- Cargo -->
          <div class="content__form">
            <label for="position">Cargo</label>
            <div class="content__icon">
              <img src="assets/cargo_img.png" alt="" />
              <input
                type="text"
                class="input"
                formControlName="position"
                id="position"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('position')?.hasError('required') &&
                contactForm.get('position')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
          </div>

          <!-- Razón social -->
          <div class="content__form">
            <label for="companyName">Razón social</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input
                type="text"
                class="input"
                formControlName="companyName"
                id="companyName"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('companyName')?.hasError('required') &&
                contactForm.get('companyName')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
          </div>

          <!-- RUC de la empresa -->
          <div class="content__form">
            <label for="companyRuc">RUC de la empresa</label>
            <div class="content__icon">
              <input
                type="text"
                class="input ruc"
                formControlName="companyRuc"
                id="companyRuc"
                maxlength="11"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('companyRuc')?.hasError('required') &&
                contactForm.get('companyRuc')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('companyRuc')?.hasError('pattern') &&
                contactForm.get('companyRuc')?.touched
              "
            >
            El RUC debe tener 11 dígitos numéricos.
            </p>
          </div>

          <!-- País -->
          <div class="content__form__half">
            <label for="country">País</label>
            <div class="content__icon">
              <img src="assets/peru_img.png" alt="" />
              <select class="input" formControlName="country" id="country">
                <option value="Peru">Perú</option>
              </select>
            </div>
          </div>

          <!-- Ciudad -->
          <div class="content__form__half">
            <label for="city">Ciudad</label>
            <div class="content__icon">
              <img src="assets/location_img.png" alt="" />
              <select class="input" formControlName="city" id="city">
                <option value="">Selecciona una ciudad</option>
                <option value="Lima">Lima</option>
                <option value="Arequipa">Arequipa</option>
                <option value="Cusco">Cusco</option>
                <option value="Trujillo">Trujillo</option>
                <option value="Chiclayo">Chiclayo</option>
                <option value="Iquitos">Iquitos</option>
                <option value="Piura">Piura</option>
                <option value="Tacna">Tacna</option>
                <option value="Puno">Puno</option>
                <option value="Huancayo">Huancayo</option>
                <option value="Ica">Ica</option>
                <option value="Ayacucho">Ayacucho</option>
                <option value="Cajamarca">Cajamarca</option>
                <option value="Juliaca">Juliaca</option>
                <option value="Tarapoto">Tarapoto</option>
                <option value="Chimbote">Chimbote</option>
                <option value="Huaraz">Huaraz</option>
                <option value="Moquegua">Moquegua</option>
                <option value="Tumbes">Tumbes</option>
                <option value="Puerto Maldonado">Puerto Maldonado</option>
                <option value="Huánuco">Huánuco</option>
                <option value="Pasco">Pasco</option>
                <option value="Abancay">Abancay</option>
                <option value="Huaral">Huaral</option>
                <option value="Cerro de Pasco">Cerro de Pasco</option>
                <option value="Tingo María">Tingo María</option>
                <option value="Pucallpa">Pucallpa</option>
              </select>
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('city')?.hasError('required') &&
                contactForm.get('city')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
          </div>

          <!-- Correo electrónico -->
          <div class="content__form__half">
            <label for="email">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                class="input"
                formControlName="email"
                placeholder="empresa@email.com"
                id="email"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('email')?.hasError('required') &&
                contactForm.get('email')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('email')?.hasError('email') &&
                contactForm.get('email')?.touched
              "
            >
              Ingresa un correo electrónico válido.
            </p>
          </div>

          <!-- Teléfono -->
          <div class="content__form__half">
            <label for="phone">Teléfono</label>
            <div class="content__icon">
              <span>+51 <i class="bx bx-chevron-down"></i></span>
              <input
                type="text"
                class="input num"
                formControlName="phone"
                placeholder="Número de teléfono"
                id="phone"
                maxlength="9"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('phone')?.hasError('required') &&
                contactForm.get('phone')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('phone')?.hasError('pattern') &&
                contactForm.get('phone')?.touched
              "
            >
              El número de teléfono debe tener exactamente 9 dígitos.
            </p>
          </div>

          <!-- Sitio web de la empresa -->
          <div class="content__form">
            <label for="website">Sitio web de la empresa</label>
            <div class="content__icon">
              <span>https://</span>
              <input
                type="text"
                class="input web"
                formControlName="website"
                id="website"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('website')?.hasError('required') &&
                contactForm.get('website')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
          </div>

          <!-- Sector de la empresa -->
          <div class="content__form">
            <label for="sector">Sector de la empresa</label>
            <div class="content__icon">
              <img src="assets/sector_img.png" alt="" />
              <input
                type="text"
                class="input"
                formControlName="sector"
                id="sector"
              />
            </div>
            <p
              class="error-text"
              *ngIf="
                contactForm.get('sector')?.hasError('required') &&
                contactForm.get('sector')?.touched
              "
            >
              Este campo es obligatorio.
            </p>
          </div>

          <!-- Comentarios -->
          <div class="content__form">
            <label for="comments">Comentarios</label>
            <textarea
              class="textarea"
              formControlName="comments"
              placeholder="Escribe cualquier comentario o pregunta adicional"
            ></textarea>
          </div>

          <!-- Botón de envío -->
          <button class="btn_all" type="submit">Enviar</button>
        </form>
      </article>
    </div>
  </section>
</div>

<div class="modal__exito" *ngIf="showSuccessModal">
  <article>
    <button class="close__exito" (click)="closeExito()">
      <i class="bx bx-x"></i>
    </button>
    <h3>¡Tu mensaje se envió con éxito!</h3>
    <p>
      Nos pondremos en contacto contigo en breve para proporcionarte más
      detalles.
    </p>
  </article>
</div>

<app-footer></app-footer>
