<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Únete a la Red de Partners de Human</h2>
    <p>
      Potencia el éxito de tus clientes y acelera la transformación de sus
      procesos con nuestra solución integral de gestión de recursos humanos
    </p>
    <button class="btn_all">Empezar ahora</button>
  </div>
</div>

<div class="main__section">
  <section class="section__ptext">
    <div class="contain_s contenedor__ptext">
      <article>
        <p>
          En Human, creemos en el poder de las alianzas estratégicas para
          transformar la gestión de recursos humanos. Invitamos a empresas
          especializadas en RR.HH. a unirse a nosotros como partners y trabajar
          juntos para ayudar a nuestros clientes a optimizar sus procesos y
          alcanzar nuevos niveles de eficiencia y productividad.
        </p>
      </article>
    </div>
  </section>
  <section class="section__pdescubre">
    <img src="assets/ellipse13.png" class="ellipse13" alt="" />
    <img src="assets/ellipse16.png" class="ellipse16" alt="" />
    <div class="contain_s contenedor__pdescubre">
      <img src="assets/ellipse14.png" class="ellipse14" alt="" />
      <img src="assets/ellipse15.png" class="ellipse15" alt="" />
      <article class="text__pdescubre">
        <h2>
          <div>
            Descubre nuestro
            <span class="orange">programa de</span>
          </div>
          <div>
            <span class="orange">Partners</span>
          </div>
        </h2>
        <p>
          Nos asociamos con empresas cuyo objetivo es crecer distribuyendo
          soluciones digitales y aportando más valor a tus clientes.
        </p>
        <ul>
          <li>Forma parte de la red Human aumentando tu visibilidad.</li>
          <li>
            Ayudar a tus clientes a digitalizar sus procesos y proporcionar
            constantemente nuevas soluciones.
          </li>
          <li>
            Conseguir un partnership con objetivos y compromisos a largo plazo.
          </li>
          <li>
            Ofrece a tus clientes y amigos la solución de RRHH más competitiva
            del mercado con un descuento especial.
          </li>
        </ul>
      </article>
      <article class="img__pdescubre">
        <img src="assets/descubre_img.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__pbeneficios">
    <h2>
      Beneficios de ser un
      <div>
        <span class="orange">Partners de Human</span>
      </div>
    </h2>
    <div class="contain_s contenedor__pbeneficios">
      <article>
        <b>Optimización de recursos</b>
      </article>
      <article>
        <b>Toma de decisiones informadas</b>
      </article>
      <article>
        <b>Incremento de la productividad</b>
      </article>
      <article>
        <b>Mejora en la satisfacción del empleado</b>
      </article>
    </div>
  </section>
  <section class="section__pred">
    <h2>
      Nuestra
      <div>
        <span class="orange">Red de Partners</span>
      </div>
    </h2>
    <div class="contain_s contenedor__pred">
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/3fe7/065e/0a0ebffab77a6ee5625e1e1e8b64204b?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nSWGAhO2u~kFjSA-gcTyzyt6twgajPQhfrkEydPg7FzjA0DDQNGTC-lcFHAEFkO5XhVwJFm37wEWBmqGiu-6rYH4pw5LcaNRFouaNjVUjnZuVQBFxH4fBf28Glp1o5PTy7XNLZSGHKGgtwX82pnrzyhefb3tPLrQhBLWY6oS78N2wTXe4eUSmxJc56FfjRAXKekNT0z5cbXMsRj8BCq5chhWJvq5VeIndoRhTzH8pVLfWJTi6-jKBexNelJeOgGvl693dDnO3z27qJhmMcIqO1MrcpEX9NTjoXtkxF438-Cvg5BAbYmWfb~RjDX8hhQ~PV90oSfNSf-NyNXhdmNpcA__"
          alt=""
        />
      </article>
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/66fe/0284/05add01431c2c7b8c6d4e25e6a4837f7?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Yxs9koQDqK2tTyeD6QhgN1S3g046p6K-1GETjA8VfkWc6t0i3e~ooFz7goBOtjxAXKwmDnks0GGlZaeG1SwEJieCjqZSIjXjp0JysS6~O0ImEkC1BDXI2zsrWhqr694Wb~2Q8l57ZG6-xPvtUJzUhXlRAfXtwBtHhEDirh~hTvJPbL3cg3Fc7fluGqx~1XuodxHZeYKWOw4E1QOp3JOExDB2ZHoo7LnPzBsDV2ZCuGPtzspNwHKoh-GoIs8EV1A2xYeGjsuviEE2iUvarBsRorVoteRsq1AUvkeei3Ii0NN6nuTjLfiXODHKuYcHxLzOuD~r6mPi3ndrk6wSTk85aw__"
          alt=""
        />
      </article>
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/d226/78a8/68cb864ee162d0e2ad56466347844b6d?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RKUlbp192z2NZwIYaDNJDld4jVCA89YZbOoYzi6W2vKsrpz-LDVEuLavlEjXttGMtzzPw5IBHuiR13f8LE3-k3rHoclwzb3t1jc7xWU0HRa01gk1lXh3Mvvzk8AHlGKZYjqxEzvlnfgclFJwF2CR2PT2Qx~I6C5bmPOGqNMZEHnwtVrvHZJk2ZlybD8o-Hm2IcW9vWr0PXETNbt41qXQ1KWO-qUFg7dJGabbGGshNSawZxleSzO9WK4T9fYJAgkqmqi6SWnogPFdJcgqkdBCylPlhssbBRKHtzGZQ820CQeH3Uj15kSKb8SctW4ffy70dBRvVuiua4SiKLK7MmepEw__"
          alt=""
        />
      </article>
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/b34a/dcf0/dc6c6d2fa3a981b56a3bf8cfe40c2dfc?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=aPXI2qqoOfn8MCEtp5kac0dEC8De~5FSPRQNyzTcYiknQlS54X3A7xG3JHmwVKXBVSdIsusEaDmztQGWdltNJSJ8887zPzx4NsmJSDn-OKK9qrd52hZrPi9K5N7IKr9uS5TdsRmYWBxbEvyxFxlyiUPjQ2mxyZv6hPo0mcgi2XvaA3rMsc4mKXDKTfUYF-RIeL57iCLO-13LNsRkvAsMmVdMMelDuVDCLmA7VPMYzrcux~CrhWTKdv2oeVhfjo8syxvbtxtD5Zib37VADy-JPKZsTLJcoIqSEvwPiTXrmpoFwVOsyY1lL7pynvud8X5IsRSs145X4IZFfZBQbOe8pQ__"
          alt=""
        />
      </article>
    </div>
  </section>
  <section class="section__pconvertirse">
    <h2>Como convertirse en un Partner de Human</h2>
    <img src="assets/ellipse17.png" class="ellipse17" alt="" />
    <img src="assets/ellipse18.png" class="ellipse18" alt="" />
    <img src="assets/ellipse19.png" class="ellipse19" alt="" />
    <img src="assets/ellipse20.png" class="ellipse20" alt="" />
    <img src="assets/ellipse21.png" class="ellipse21" alt="" />
    <img src="assets/ellipse22.png" class="ellipse22" alt="" />
    <div class="contain_s contenedor__pconvertirse">
      <article>
        <div class="text1__convertirse">
          <b>Solicita información</b>
          <p>
            Completa nuestro formulario de contacto para recibir más información
            sobre el programa de partners.
          </p>
        </div>
        <div class="text2__convertirse">
          <b>Evaluación y aprobación</b>
          <p>
            Nuestro equipo evaluará tu solicitud y se pondrá en contacto contigo
            para discutir los detalles y los siguientes pasos.
          </p>
        </div>
        <div class="text3__convertirse">
          <b>Capacitación y onboarding </b>
          <p>
            Participa en nuestro programa de capacitación y onboarding para
            familiarizarte con la plataforma Human y sus funcionalidades.
          </p>
        </div>
        <div class="text4__convertirse">
          <b>Empieza a transformar </b>
          <p>
            Comienza a ofrecer Human a tus clientes y acompáñalos en su viaje
            hacia la optimización y transformación de sus procesos de RR.HH.
          </p>
        </div>
        <img src="assets/frame1_convertirse.png" class="frame1" alt="" />
        <img src="assets/frame2_convertirse.png" class="frame2" alt="" />
        <img src="assets/frame3_convertirse.png" class="frame3" alt="" />
        <img src="assets/frame4_convertirse.png" class="frame4" alt="" />
        <div class="line__convertirse">
          <img src="assets/line_convertirse.png" alt="" />
        </div>
      </article>
    </div>
  </section>
  <section class="section__psolicitar">
    <div class="contain_s contenedor__psolicitar">
      <article class="text__psolicitar">
        <h2>
          <div>
            Solicita información para convertirse en un
            <span class="orange">Partner de</span>
          </div>
          <div>
            <span class="orange">Human</span>
          </div>
        </h2>
        <p>
          Completa el siguiente formulario para recibir más información sobre
          cómo unirte a la red de partners de Human. Nos pondremos en contacto
          contigo para discutir los detalles y los siguientes pasos.
        </p>
        <img
          src="https://s3-alpha-sig.figma.com/img/67a3/9577/12ef93055cb6c702d67dc9e0960212d3?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=SVhftl5H5SX2gStt2iqJ0mcgUQCyKxsiLxp6HRZBX973Xzk0~HO9AtPP9X9CymFhy9Tmb1i9MtVHgL3L0kKgN7AvSCQFRBWtAzKjEc~wkjm-2moO8yoNMFKAjprU52FDkNgWw7RjuEgivRMcujgphb4nLv0K8WhVRfxTJTn3DdrovQzYT0blnGF~tTcVzwrPBORO2SAtbw5N2eJLSF5AUv-BAw2Me9B935B5Fbt2w78RtaNg5PAFpB9bphcxFWocOpr-FgHrTxIyeasPRE5~VWxJWxK~1T6-CQtILiU7gPhq2~nhfiGL7xlN5OFaadx-GLukCX7drGye9QIIu7bLkA__"
          alt=""
        />
      </article>
      <article class="form__psolicitar">
        <form action="">
          <div class="content__form">
            <label for=""> Nombre de contacto </label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                placeholder="Nombre de contacto"
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Cargo</label>
            <div class="content__icon">
              <img src="assets/cargo_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Razón social</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input type="tex" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">RUC de la empresa</label>
            <div class="content__icon">
              <input type="number" class="input ruc" />
            </div>
          </div>
          <div class="content__form__half">
            <label for="">País</label>
            <div class="content__icon">
              <img src="assets/peru_img.png" alt="" />
              <select name="" id="" class="input">
                <option value="">Perú</option>
              </select>
            </div>
          </div>
          <div class="content__form__half">
            <label for="">Ciudad</label>
            <div class="content__icon">
              <img src="assets/location_img.png" alt="" />
              <select name="" id="" class="input">
                <option value="">Lima</option>
              </select>
            </div>
          </div>
          <div class="content__form__half">
            <label for="">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                name=""
                class="input"
                placeholder="empresa@email.com"
                id=""
              />
            </div>
          </div>
          <div class="content__form__half">
            <label for="">Teléfono</label>
            <div class="content__icon">
              <span>+51 <i class="bx bx-chevron-down"></i></span>
              <input
                type="number"
                name=""
                class="input num"
                placeholder="Número de teléfono"
                id=""
              />
            </div>
          </div>

          <div class="content__form">
            <label for="">Sitio web de la empresa</label>
            <div class="content__icon">
              <span>https:://</span>
              <input type="email" class="input web" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Sector de la empresa</label>
            <div class="content__icon">
              <img src="assets/sector_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <textarea
            class="textarea"
            name=""
            id=""
            placeholder="Escribe cualquier comentario o pregunta adicional"
          ></textarea>
          <button class="btn_all">Enviar</button>
        </form>
      </article>
    </div>
  </section>
</div>

<app-footer></app-footer>
