<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Software de gestión de RR.HH en la nube</h2>
    <p>Centraliza y potencia tu gestión de RR.HH con Human</p>
    <button class="btn_all" (click)="openModal()">Empezar ahora</button>
  </div>
</div>
<div class="main__section">
  <section class="section__adm">
    <img src="assets/ellipse44.png" class="ellipse44" alt="" />
    <img src="assets/ellipse45.png" class="ellipse45" alt="" />
    <img src="assets/ellipse44_movil.png" class="ellipse44_movil" alt="" />
    <img src="assets/ellipse45_movil.png" class="ellipse45_movil" alt="" />
    <div class="contain_s contenedor__adm">
      <img src="assets/ellipse46.png" class="ellipse46" alt="" />
      <img src="assets/ellipse47.png" class="ellipse47" alt="" />
      <article class="text__adm">
        <div class="title__adm">
          <h2 class="title__desktop">
            <div>Administra todos tus Recursos</div>
            <div>
              Humanos
              <span class="orange">desde una sola</span>
            </div>
            <div>
              <span class="orange">plataforma en la nube</span>
            </div>
          </h2>
          <h2 class="title__movil">
            <div>Administra todos tus Recursos Humanos</div>
            <div>
              <span class="orange">desde una sola</span>
            </div>
            <div>
              <span class="orange">plataforma en la nube</span>
            </div>
          </h2>
         
        </div>
        <div class="p__adm">
          <p>
            Transforma digitalmente la gestión de Recursos Humanos de tu
            empresa. Ahorra tiempo y mejora la eficiencia con una suite de RRHH
            completa y fácil de usar. Gestiona todo, desde empleados hasta
            reclutamiento, formación, evaluación del rendimiento, control de
            asistencia y planificación de vacaciones.
          </p>
        </div>
      </article>
      <article class="img__adm">
        <img src="assets/mac_resource.png" alt="" />
      </article>
    </div>
  </section>
  <section class="section__mhuman">
    <h2>
      Módulos
      <div>
        <span class="orange">Human</span>
      </div>
    </h2>
    <div class="contain_s contenedor__mhuman desktop__contacto">
      <div class="content__badges">
        <button
          [ngClass]="{ active__human: activeButtonIndexDesktop === 0 }"
          (click)="setActiveButtonDesktop(0)"
        >
          Gestión y organización de personal
        </button>
        <button
          [ngClass]="{ active__human: activeButtonIndexDesktop === 1 }"
          (click)="setActiveButtonDesktop(1)"
        >
          Análisis y Evaluación
        </button>
        <button
          [ngClass]="{ active__human: activeButtonIndexDesktop === 2 }"
          (click)="setActiveButtonDesktop(2)"
        >
          Integración y Personalización
        </button>
        <button
          [ngClass]="{ active__human: activeButtonIndexDesktop === 3 }"
          (click)="setActiveButtonDesktop(3)"
        >
          Reclutamiento y Selección
        </button>
      </div>

      <div class="cards__human">
        <article *ngFor="let article of articles[activeButtonIndexDesktop]">
          <img [src]="article.img" alt="" />
          <div class="text__human">
            <h3>{{ article.title }}</h3>
            <p>{{ article.description }}</p>
          </div>
        </article>
      </div>
    </div>

    <div class="contain_s contenedor__mhuman movil__contacto">
      <div class="content__badges">
        <button
          [ngClass]="{ active__human: activeButtonIndexMobile === 0 }"
          (click)="toggleButtonMobile(0)"
        >
          Gestión y organización de personalización
          <i
            class="bx"
            [class.bx-chevron-down]="activeButtonIndexMobile !== 0"
            [class.bx-chevron-up]="activeButtonIndexMobile === 0"
          ></i>
        </button>
        <div class="cards__human" *ngIf="activeButtonIndexMobile === 0">
          <article *ngFor="let article of articles[0]">
            <img [src]="article.img" alt="" />
            <div class="text__human">
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
            </div>
          </article>
        </div>

        <button
          [ngClass]="{ active__human: activeButtonIndexMobile === 1 }"
          (click)="toggleButtonMobile(1)"
        >
          Análisis y Evaluación
          <i
            class="bx"
            [class.bx-chevron-down]="activeButtonIndexMobile !== 1"
            [class.bx-chevron-up]="activeButtonIndexMobile === 1"
          ></i>
        </button>
        <div class="cards__human" *ngIf="activeButtonIndexMobile === 1">
          <article *ngFor="let article of articles[1]">
            <img [src]="article.img" alt="" />
            <div class="text__human">
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
            </div>
          </article>
        </div>

        <button
          [ngClass]="{ active__human: activeButtonIndexMobile === 2 }"
          (click)="toggleButtonMobile(2)"
        >
          Integración y Personalización
          <i
            class="bx"
            [class.bx-chevron-down]="activeButtonIndexMobile !== 2"
            [class.bx-chevron-up]="activeButtonIndexMobile === 2"
          ></i>
        </button>
        <div class="cards__human" *ngIf="activeButtonIndexMobile === 2">
          <article *ngFor="let article of articles[2]">
            <img [src]="article.img" alt="" />
            <div class="text__human">
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
            </div>
          </article>
        </div>

        <button
          [ngClass]="{ active__human: activeButtonIndexMobile === 3 }"
          (click)="toggleButtonMobile(3)"
        >
          Reclutamiento y Selección
          <i
            class="bx"
            [class.bx-chevron-down]="activeButtonIndexMobile !== 3"
            [class.bx-chevron-up]="activeButtonIndexMobile === 3"
          ></i>
        </button>
        <div class="cards__human" *ngIf="activeButtonIndexMobile === 3">
          <article *ngFor="let article of articles[3]">
            <img [src]="article.img" alt="" />
            <div class="text__human">
              <h3>{{ article.title }}</h3>
              <p>{{ article.description }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section
    class="section__whuman desktop__contacto2"
    [ngStyle]="{
      'background-image':
        'linear-gradient(74.4deg, rgba(24, 34, 62, 0) -15.93%, rgba(31, 45, 81, 0.7) 53.85%), ' +
        optionContent[activeOptionIndex].backgroundImage
    }"
  >
    <div class="contain_s contenedor__whuman">
      <article class="card__options">
        <h3>¿Por qué elegir Human?</h3>
        <div class="options__whuman">
          <button
            [ngClass]="{ active__option: activeOptionIndex === 0 }"
            (click)="setActiveOption(0)"
          >
            <img src="assets/hub.png" alt="" />Centralización de operaciones
          </button>
          <button
            [ngClass]="{ active__option: activeOptionIndex === 1 }"
            (click)="setActiveOption(1)"
          >
            <img src="assets/settings.png" alt="" />Personalización flexible
          </button>
          <button
            [ngClass]="{ active__option: activeOptionIndex === 2 }"
            (click)="setActiveOption(2)"
          >
            <img src="assets/manufacturing.png" alt="" />Integraciones perfectas
          </button>
          <button
            [ngClass]="{ active__option: activeOptionIndex === 3 }"
            (click)="setActiveOption(3)"
          >
            <img src="assets/monitoring.png" alt="" />Mejora de la productividad
          </button>
          <button
            [ngClass]="{ active__option: activeOptionIndex === 4 }"
            (click)="setActiveOption(4)"
          >
            <img src="assets/check_human.png" alt="" />Potenciación del talento
          </button>
        </div>
      </article>

      <article class="text__whuman">
        <b>{{ optionContent[activeOptionIndex].title }}</b>
        <p>{{ optionContent[activeOptionIndex].description }}</p>
      </article>
    </div>
  </section>
  <section class="section__whuman__movil movil__contacto2">
    <div class="banner__whuman__movil">
      <h2>¿Por qué elegir Human?</h2>
    </div>
    <div class="c__whuman__movil">
      <article>
        <b><img src="assets/hub.png" alt="" />Centralización de operaciones</b>
        <p>
          Human centraliza todas las operaciones de recursos humanos en una
          plataforma única y eficiente. Simplifica la administración diaria al
          tener toda la información de empleados, nóminas, tiempo y asistencia
          en un solo lugar, permitiendo una gestión más ágil y ordenada.
        </p>
      </article>
      <article>
        <b><img src="assets/settings.png" alt="" />Personalización flexible</b>
        <p>
          Adapta Human a las necesidades específicas de tu empresa con nuestras
          opciones de personalización. Personaliza flujos de trabajo, informes y
          módulos para que se alineen perfectamente con tus procesos,
          garantizando que la plataforma funcione como una extensión natural de
          tu equipo.
        </p>
      </article>
      <article>
        <b>
          <img src="assets/manufacturing.png" alt="" />Integraciones perfectas
        </b>
        <p>
          Conecta Human con tus aplicaciones favoritas para una experiencia sin
          interrupciones. Las integraciones fluidas con sistemas de
          contabilidad, gestión de proyectos y otras herramientas esenciales
          aseguran una transferencia de datos sin problemas, mejorando la
          eficiencia operativa y reduciendo errores.
        </p>
      </article>
      <article>
        <b>
          <img src="assets/monitoring.png" alt="" />Mejora de la productividad
        </b>
        <p>
          Optimiza procesos y reduce el tiempo dedicado a tareas
          administrativas. Human automatiza tareas rutinarias como la gestión de
          nóminas, el seguimiento del tiempo y la organización de documentos,
          liberando a tu equipo para que se concentre en actividades
          estratégicas y de alto valor.
        </p>
      </article>
      <article>
        <b>
          <img src="assets/check_human.png" alt="" />Potenciación del talento
        </b>
        <p>
          Gestiona el ciclo de vida del empleado, desde el reclutamiento hasta
          la evaluación del desempeño y la planificación de la carrera. Human
          ofrece herramientas robustas para identificar, desarrollar y retener
          talento, ayudando a construir un equipo fuerte y motivado.
        </p>
      </article>
    </div>
  </section>
  <section class="section__moderniza">
    <img src="assets/ellipse48_movil.png" class="ellipse48_movil" alt="" />
    <img src="assets/ellipse49_movil.png" class="ellipse49_movil" alt="" />
    <img src="assets/ellipse50_movil.png" class="ellipse50_movil" alt="" />
    <div class="contain_s contenedor__moderniza">
      <img src="assets/ellipse48.png" class="ellipse48" alt="" />
      <img src="assets/ellipse49.png" class="ellipse49" alt="" />
      <img src="assets/ellipse50.png" class="ellipse50" alt="" />
      <article class="text__moderniza">
        <h2>
          <div>
            Moderniza los procesos
            <span class="orange">de RRHH con</span>
          </div>
          <div>
            <span class="orange">Human</span>
          </div>
        </h2>
        <p>
          Completa y envía el formulario para recibir más información sobre
          nuestro software.
        </p>
        <ul>
          <li>
            <img src="assets/check_small.png" alt="" /> Procesos sencillos,
            automáticos y fiables
          </li>
          <li>
            <img src="assets/check_small.png" alt="" /> Incrementa la
            participación de empleados y candidatos
          </li>
          <li>
            <img src="assets/check_small.png" alt="" />
            Deja atrás las hojas de Excel, menores costos de papel, archivo y
            tiempo
          </li>
        </ul>
        <img src="assets/word__human.png" alt="" class="img__moderniza" />
      </article>
      <article class="form__moderniza">
        <form action="">
          <div class="content__form">
            <label for=""> Nombre de contacto </label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                placeholder="Nombre y Apellido"
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Nombre de la empresa</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input type="tex" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                name=""
                class="input"
                placeholder="empresa@email.com"
                id=""
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Teléfono</label>
            <div class="content__icon">
              <span>+51 <i class="bx bx-chevron-down"></i></span>
              <input
                type="number"
                name=""
                class="input num"
                placeholder="Número de teléfono"
                id=""
              />
            </div>
          </div>
          <button class="btn_all">Enviar</button>
        </form>
      </article>
    </div>
  </section>
  <section class="section__preguntas">
    <img src="assets/ellipse51.png" class="ellipse51" alt="" />
    <img src="assets/ellipse52.png" class="ellipse52" alt="" />
    <h2>Preguntas frecuentes</h2>
    <div class="contain_s contenedor__preguntas">
      <img src="assets/ellipse53.png" class="ellipse53" alt="" />
      <img src="assets/ellipse54.png" class="ellipse54" alt="" />
      <article
        class="article__preguntas"
        *ngFor="let pregunta of preguntas; let i = index"
        [ngClass]="{ open__active: pregunta.open }"
      >
        <div
          class="open__preguntas"
          (click)="togglePregunta(i)"
          [ngClass]="{ open__back: pregunta.open }"
        >
          <b>{{ pregunta.text }}</b>
          <button>
            <i
              class="bx"
              [ngClass]="pregunta.open ? 'bx-minus' : 'bx-plus'"
            ></i>
          </button>
        </div>
        <div class="respuesta__content" *ngIf="pregunta.open">
          <p>{{ pregunta.respuesta }}</p>
        </div>
      </article>
    </div>
  </section>
</div>
<div class="modal__software" *ngIf="isModalOpen">
  <article class="form__moderniza">
    <button class="close__software" (click)="closeModal()">
      <i class="bx bx-x"></i>
    </button>
    <form action="">
      <div class="content__form">
        <label for=""> Nombre de contacto </label>
        <div class="content__icon">
          <img src="assets/nombre_img.png" alt="" />
          <input type="text" class="input" placeholder="Nombre de contacto" />
        </div>
      </div>
      <div class="content__form">
        <label for=""> Cargo </label>
        <div class="content__icon">
          <img src="assets/cargo_img.png" alt="" />
          <input type="text" class="input" />
        </div>
      </div>
      <div class="content__form">
        <label for="">Razón social</label>
        <div class="content__icon">
          <img src="assets/empresa_img.png" alt="" />
          <input type="tex" class="input" />
        </div>
      </div>
      <div class="content__form">
        <label for="">Correo electrónico</label>
        <div class="content__icon">
          <img src="assets/email_img.png" alt="" />
          <input
            type="email"
            name=""
            class="input"
            placeholder="empresa@email.com"
            id=""
          />
        </div>
      </div>
      <div class="content__form">
        <label for="">Teléfono</label>
        <div class="content__icon">
          <span>+51 <i class="bx bx-chevron-down"></i></span>
          <input
            type="number"
            name=""
            class="input num"
            placeholder="Número de teléfono"
            id=""
          />
        </div>
      </div>
      <button class="btn_all">Enviar</button>
    </form>
  </article>
</div>
<app-footer></app-footer>
