<router-outlet></router-outlet>
<a *ngIf="showWhatsAppIcon" href="https://wa.me/51997412340" target="_blank">
  <div class="custom-whatsapp-icon-container">
    <i class="bx bxl-whatsapp custom-whatsapp-icon"></i>
    <span class="custom-notification-badge">1</span>
    <span class="custom-pulsing-circle"></span>
    <span class="custom-pulsing-circle second"></span>
  </div>
</a>

<div class="container__cookies" *ngIf="showCookieCard">
  <div class="card__cookies">
    <article>
      <div class="title__cookies">
        <img src="assets/logo_cookies.png" alt="" />
        <h2>Este sitio web utiliza cookies</h2>
      </div>
      <p>
        Utilizamos cookies propias y de terceros para mejorar tu experiencia de
        navegación, analizar el uso del sitio y personalizar el contenido.
        Puedes aceptar todas las cookies o configurar tus preferencias.
      </p>
      <div class="opciones__cookies">
        <button (click)="declineCookies()">Rechazar cookies</button>
        <button (click)="acceptCookies()">Aceptar todas la cookies</button>
      </div>
    </article>
    <button class="close__cookies" (click)="declineCookies()">
      <i class="bx bx-x"></i>
    </button>
    <img src="assets/ellipse_cookie.png" class="ellipse_cookie" alt="" />
  </div>
</div>

<button class="btn__up" *ngIf="showScrollButton" (click)="scrollToTop()">
  <i class="bx bxs-up-arrow-alt"></i>
</button>
