<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Hablemos sobre cómo revolucionar la gestión de tu equipo</h2>
  </div>
</div>
<div class="main__section">
  <section class="section__contact">
    <img src="assets/ellipse36.png" class="ellipse36" alt="" />
    <div class="contain_s card__contact">
      <img src="assets/ellipse37.png" class="ellipse37" alt="" />
      <img src="assets/ellipse38.png" class="ellipse38" alt="" />
      <article>
        <p>
          En Human, estamos aquí para ayudarte a optimizar y automatizar tus
          procesos de recursos humanos. Nuestro equipo de expertos está listo
          para escuchar tus necesidades y ofrecerte soluciones personalizadas
          que impulsarán el crecimiento de tu empresa. Completa el formulario a
          continuación o contáctanos directamente para conocer más.
        </p>
      </article>
    </div>
  </section>
  <div class="column__reverse">
    <section class="section__contacto">
      <img src="assets/ellipse39.png" class="ellipse39" alt="" />
      <img src="assets/ellipse40.png" class="ellipse40" alt="" />
      <img src="assets/ellipse41.png" class="ellipse41" alt="" />
      <div class="contain_s contenedor__contacto desktop__contacto">
        <article class="text__contacto">
          <div>
            <h2>¿Listo para empezar?</h2>
            <p>
              Rellena el formulario y nuestro equipo te contactará para explorar
              cómo podemos ayudarte a transformar la gestión de tus recursos
              humanos.
            </p>
          </div>
          <img src="assets/img_contact.png" alt="Contacto" />
        </article>
        <article class="form__contacto">
          <app-formulario
            (formularioEnviado)="onFormularioEnviado($event)"
          ></app-formulario>
        </article>
      </div>
      <div class="contain_s contenedor__contacto movil__contacto">
        <article class="text__contacto">
          <div>
            <h2>¿Listo para empezar?</h2>
            <p>
              Rellena el formulario y nuestro equipo te contactará para explorar
              cómo podemos ayudarte a transformar la gestión de tus recursos
              humanos.
            </p>
          </div>
        </article>
        <article class="form__contacto">
          <app-formulario></app-formulario>
          <img
            class="contact__movil__img"
            src="assets/img_contact.png"
            class="img__desktop"
            alt="Contacto"
          />
          <img
            class="contact__movil__img"
            src="assets/img_contact_movil.png"
            class="img__movil"
            alt="Contacto"
          />
        </article>
      </div>
    </section>

    <section class="section__talk">
      <div class="container_s contenedor__talk">
        <article class="talk__text">
          <h2>
            <div>¿Prefieres hablar con nosotros</div>
            <div><span class="orange">directamente?</span></div>
          </h2>
          <p>
            Estamos a tu disposición. Elige la forma de contacto que mejor se
            adapte a ti y uno de nuestros especialistas te asistirá de
            inmediato.
          </p>
          <nav>
            <a href="tel:+"><i class="bx bx-phone"></i> 994 037 392</a>
            <a href="mailto:"
              ><i class="bx bx-envelope"></i> plataforma&#64;human.com.pe</a
            >
            <a href=""
              ><i class="bx bx-calendar-minus"></i> Horario de atención: Lunes -
              Viernes 9am - 6pm</a
            >
          </nav>
        </article>
        <article class="talk__img">
          <img src="assets/talk_img.png" alt="" />
        </article>
      </div>
    </section>
  </div>
</div>

<div class="modal__exito" *ngIf="showSuccessModal">
  <article>
    <button class="close__exito" (click)="closeModalForm()">
      <i class="bx bx-x"></i>
    </button>
    <h3>¡Tu mensaje se envió con éxito!</h3>
    <p>
      Nos pondremos en contacto contigo en breve para proporcionarte más
      detalles.
    </p>
  </article>
</div>
<app-footer></app-footer>
