<form [formGroup]="contactForm" class="form" (ngSubmit)="onSubmitContact()">
  <div class="content__form">
    <label for="contactName">Nombre de contacto</label>
    <div class="content__icon">
      <img src="assets/nombre_img.png" alt="Nombre de contacto" />
      <input
        type="text"
        class="input"
        placeholder="Nombre de contacto"
        formControlName="contactName"
      />
    </div>
    <p class="error-text" *ngIf="contactForm.get('contactName')?.hasError('required') && contactForm.get('contactName')?.touched">
      Este campo es obligatorio.
    </p>
    <p class="error-text" *ngIf="contactForm.get('contactName')?.hasError('pattern') && contactForm.get('contactName')?.touched">
      Solo se permiten letras y espacios.
    </p>
  </div>
  
  <div class="content__form">
    <label for="companyName">Nombre de la empresa</label>
    <div class="content__icon">
      <img src="assets/empresa_img.png" alt="Nombre de la empresa" />
      <input
        type="text"
        class="input"
        formControlName="companyName"
      />
    </div>
    <p class="error-text" *ngIf="contactForm.get('companyName')?.invalid && contactForm.get('companyName')?.touched">
      Este campo es obligatorio.
    </p>
  </div>

  <div class="content__form">
    <label for="companyRuc">RUC de la empresa</label>
    <div class="content__icon">
      <input
        type="text"
        class="input ruc"
        formControlName="companyRuc"
        maxlength="11"
        />
    </div>
    <p class="error-text" *ngIf="contactForm.get('companyRuc')?.hasError('required') && contactForm.get('companyRuc')?.touched">
      Este campo es obligatorio.
    </p>
    <p class="error-text" *ngIf="contactForm.get('companyRuc')?.hasError('pattern') && contactForm.get('companyRuc')?.touched">
      El RUC debe tener 11 dígitos numéricos.
    </p>
  </div>

  <div class="content__form">
    <label for="collaboratorsNum">Número de colaboradores</label>
    <div class="content__icon">
      <img src="assets/colaboradores_img.png" alt="Número de colaboradores" />
      <select formControlName="collaboratorsNum" class="input">
        <option value="<100">&lt; 100</option>
        <option value="100-300">100 a 300</option>
        <option value="300-500">300 a 500</option>
        <option value="500-1000">500 a 1000</option>
        <option value=">1000">1000 &gt;</option>
      </select>
    </div>
    <p class="error-text" *ngIf="contactForm.get('collaboratorsNum')?.invalid && contactForm.get('collaboratorsNum')?.touched">
      Este campo es obligatorio.
    </p>
  </div>

  <div class="content__form">
    <label for="country">País</label>
    <div class="content__icon">
      <img src="assets/peru_img.png" alt="País" />
      <select formControlName="country" class="input">
        <option value="Perú">Perú</option>
      </select>
    </div>
  </div>

  <div class="content__form">
    <label for="email">Correo electrónico</label>
    <div class="content__icon">
      <img src="assets/email_img.png" alt="Correo electrónico" />
      <input
        type="email"
        class="input"
        formControlName="email"
        placeholder="empresa@gmail.com"
        maxlength="40"
      />
    </div>
    <p class="error-text" *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched">
      Este campo es obligatorio.
    </p>
    <p class="error-text" *ngIf="contactForm.get('email')?.hasError('pattern') && contactForm.get('email')?.touched">
      Ingresa un correo electrónico válido.
    </p>
  </div>
  

  <div class="content_checks">
    <div formArrayName="services" class="content_checks">
      <h2>¿En qué te ayudamos?</h2>
      <div class="check" *ngFor="let service of services; let i = index">
        <input type="checkbox" [formControlName]="i" />
        <label>{{ service }}</label>
      </div>
    </div>
    <p class="error-text mt__2" *ngIf="servicesArray.hasError('minSelected') && servicesArray.touched">
      Debes seleccionar al menos un servicio.
    </p>
  </div>

  <textarea
    class="textarea"
    formControlName="comments"
    placeholder="Escribe cualquier comentario o pregunta adicional"
  ></textarea>

  <button class="btn_all" type="submit">
    Enviar
  </button>
</form>
