<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Transforma la gestión de Recursos Humanos con Human Self Service</h2>
    <p>La solución integral para la gestión de RR.HH. en tu organización</p>
    <button class="btn_all">Empezar ahora</button>
  </div>
</div>
<main>
  <section class="section__plataforma">
    <img src="assets/ellipse2.png" class="ellipse2" alt="" />
    <img src="assets/ellipse1.png" class="ellipse1" alt="" />
    <img src="assets/ellipse3.png" class="ellipse3" alt="" />
    <div class="contain_s contenedor__plataforma">
      <article class="text__plataforma">
        <h2>
          <span>Plataforma Integral de</span>
          Gestión Laboral y Recursos Humanos
        </h2>
        <p>
          Accede a toda la información de tu empresa en un solo lugar con Human.
          Nuestra plataforma web basada en la nube ofrece un entorno conectado y
          automatizado que facilita la toma de decisiones estratégicas.
          <br />
          <br />
          Desde la gestión de nóminas hasta el desarrollo de talento, Human te
          ofrece una solución completa y adaptable, diseñada para satisfacer las
          demandas de cualquier organización.
        </p>
      </article>
      <article class="img__plataforma">
        <img src="assets/macbook.png" alt="macbook" />
      </article>
    </div>
  </section>

  <section class="section__visibilidad">
    <img src="assets/ellipse4.png" class="ellipse4" alt="" />
    <img src="assets/ellipse5.png" class="ellipse5" alt="" />
    <div class="contain_s contenedor__visibilidad">
      <article class="img__visibilidad">
        <img src="assets/macbook2.png" alt="macbook" />
      </article>
      <article class="text__visibilidad">
        <h2>
          <span>Visibilidad total</span>
          y Control Centralizado
        </h2>
        <p>
          Con Human, cada departamento de tu empresa está interconectado y
          accesible desde una única plataforma. Gestiona procesos, visualiza
          datos en tiempo real y toma decisiones informadas con facilidad.
          <br />
          <br />
          Nuestra solución adaptable y multisectorial garantiza que todos los
          aspectos de tu negocio estén bajo control, permitiendo una operación
          más eficiente y estratégica.
        </p>
      </article>
    </div>
  </section>

  <section class="section__elegir">
    <img src="assets/ellipse6.png" class="ellipse6" alt="" />
    <img src="assets/ellipse7.png" class="ellipse7" alt="" />
    <img src="assets/ellipse8.png" class="ellipse8" alt="" />
    <div class="contain_s contenedor__elegir">
      <article class="text__elegir">
        <h2>
          <span>¿Por qué elegir</span>
          Human?
        </h2>
        <ul>
          <li>
            <strong>Accesibilidad Total:</strong> Información centralizada en un
            único punto de acceso web.
          </li>
          <li>
            <strong>Visibilidad Integral:</strong> Automatización y conectividad
            para una toma de decisiones efectiva.
          </li>
          <li>
            <strong>Integración Versátil:</strong> Compatible con productos de
            terceros y adaptable a diversas necesidades.
          </li>
          <li>
            <strong>Adaptabilidad Completa:</strong> Personalización según la
            estructura y procesos de cada empresa.
          </li>
          <li>
            <strong>Mantenimiento Evolutivo:</strong> Plataforma continuamente
            actualizada con las últimas innovaciones.
          </li>
        </ul>
      </article>
      <article class="img__elegir">
        <img src="assets/mac_fondo.png" alt="macbook" />
        <video src="assets/mac_video.mp4" autoplay loop muted></video>
      </article>
    </div>
  </section>

  <section class="section__modulos">
    <img src="assets/ellipse9.png" class="ellipse9" alt="" />
    <img src="assets/ellipse10.png" class="ellipse10" alt="" />
    <img src="assets/ellipse11.png" class="ellipse11" alt="" />
    <img src="assets/ellipse12.png" class="ellipse12" alt="" />
    <h2 class="title__section">
      <span>Módulos de Human</span>
      <br />
      Potencia la gestión de Recursos Humanos
    </h2>
    <div class="contain_s contenedor__modulos">
      <article>
        <img src="https://s3-alpha-sig.figma.com/img/186a/a84d/66bf63a4d1929005efab094bd1956e15?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XmImAq8p77WJq7bsR5wvhTkueDuywcvYiwRJDCKP3~UBNNA2XtdVXWc1-rpXHSvCZkAYN4Ga78dxLRMvcdgSmQXJwqblq9s-WwGMhY5hHTGNlkbmhky5HuatZIBXFb2nYEKdeO7cPWcT8XqUT95Ykc5tUH8TU3xsJTa4JfzVBgtJdWD3c7c1UKBMZ~DiZweMLeoEHGBs4TpJ3TyQ9FsL6ze2WHE06PeKT6qOfhZ~H5rJlWLDoQR6dJIy~q9MuaGeEqpFNm0cA8qaIQ97qCMHqr1GuXK~td7OEDZyHzLLnWEY8UE6sfo7hrlgudq6tmjv1DJPIkAqbpFqtfRrl7t81g__" alt="Módulo" />
        <span>
          <img src="assets/request_page.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Nóminas</h3>
          <p>
            Automatiza y gestiona nóminas con precisión, asegurando cumplimiento
            normativo y reduciendo errores administrativos.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/b7ba/f3ff/6878a607e1042ee744ebbcb81251e115?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=D3YY2-BFtPncCkQ3vCtH4pMsmzPaCXUmq-datGxTdabZd8R2eptDcMqbOG6YyUQpJ-YP8iLNMx4Erh7t8THJPGa7~CwDbVgMnYJy90x4R7leXflaRsjoYbXYaoWLt6iUy1z7ZtC8JmgvGagmEKAW60KaCgvpUVFR~Rd6SdxIb15MAxobj5924Cvg4PehpdOjt91PxZu-HvMzYwX5PmHyDf~ua5yjXulYxLtJbDeVDh8hVUxxPdlDiGve5xAPaJ9t7UJGgCrk2qp0ahxuB-qiz7yFGmLLEn4thtiiq3r9kL8BCnIn4QEuUja~rVctxf1huWLgoFE3oA62Ww-qfUgF4A__" alt="Módulo" />
        <span>
          <img src="assets/business_center.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Portal del empleado</h3>
          <p>
            Ofrece autoservicio a los empleados para gestionar su información
            personal y solicitudes de permisos.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/cddd/e5ee/2cd3fa85ea0980a6e29b41bfce93fb14?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ym0DDQaWoIbSi~l-8w9Fmk14X3zj5Wp3crH2jaGsBGc6tE9b56oDS7JZRK424jwpDPV7lBrXx6QewvK0pYBLX8pwsn8HP6UcPVw0x9qq0pv1J8Z-nnbxz91QTRz~3XyQi25q63yEGnMi4GQZbhRj-vcNzjfDy1pffA1RQsMcGA5Ao2z2q28auvQFZfdAc7yHJ0rsi7re27T~hfUaaZTZ6gHWcwhzBUWlb6r3-SddfTh3rZX7oAQO~yruGjMoezFYBzP~DtAtPSGVErlxg17n7Qt12M18SP4YK4umJgCviFztcy0iqGr7jLOh8wTAUkTwkjw33cNxzmxmEkHL4syO-w__" alt="Módulo" />
        <span>
          <img src="assets/alarm.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Gestión del tiempo</h3>
          <p>
            Optimiza el seguimiento de horas trabajadas y planificación de
            turnos, mejorando la eficiencia operativa.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/6aa1/343f/58fd6d2c1439c527d6ec6000ce6abaf3?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mEqYolF793~1KJhV1zMcDMFyAFlp73apzw5-djAvhBj3jL50SLLUFswRRxEPgn8MXkMhU7rdx5Xvh9RPWTYOvzwdiQNp0ANAYionu52xJ1MZNu6t6J1TGIFIj~pUBSuD2HKBTAROAJBl8LIqnQylpQaVbfXSN65ZD4b-o1B7~v87LVPyKm~RmgZ3adHCR3nMEUbddIABju5zXaSTy8C5v9YXZSvFIuYa1wg3bTlxD9spInfVZ0nRzGt0XwQN0g0FRyB-q9Ngh0WMQlCcCAJV-PMvsCTvAYrzJMQviLo7VQODRlumeEw7ohMeClYX27~2eujNSc5P0EXckZhhr6W7PA__" alt="Módulo" />
        <span>
          <img src="assets/supervised_user_circle.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Presupuestos y costo de personal</h3>
          <p>
            Controla y analiza los costes de personal, facilitando una
            planificación financiera eficiente y precisa.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/c3ea/faf6/44e084cb5062da2da28ab10bc8ff327a?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nvDqL6mEBQjXaVwGysWRl9UfpzuuVsDpRF4w~ykumqXXbI~D2Q38lS6BefDG3UqQq~uEosyrCeyRTQs1lQ6h2ZLuSzoLJHCuVGi58k8qjWR1wsn-7IUaWIJRMk-xtEGUVfH8ou1RViPxc6HT3zyZ0ioSd3M~TNw9y35a0m8CGzyRcq6rsMELN2HGFQ109Afp~jfhx1-onfqyhQZT0tZL36Lj2uqjJ7DMMneDp4dXA0i-1bYDfGQDvC1vhfuU~BSXHZW40sar7WE~J6U9CG3qxBxkQMMKnQ2la2wv9IhdIpZTnJiMg9zIrVeb6clgI~Jc2RqNRW80xipO723X8ZDbNw__" alt="Módulo" />
        <span>
          <img src="assets/clinical_notes.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Gestión del talento</h3>
          <p>
            Desarrolla y retén el talento con herramientas de evaluación de
            desempeño, planes de carrera y capacitación.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/6556/a6f4/c38b6e1f90ca8b71d810eaefdd87ebea?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d0kuUz78IfSz95GZ7dHpMCKNKhfknG92MILMsaer-YF4Hmb6y-eASQtaRtoL7BdIyCrHlgGypfBXR82ecVixDOqj3HtVUuFdA2ka9ON-UJeXJN8YH1eNx-GzghsNtml5C8m-E9Vf3QRWwc5DWajGKpi1TTq9OghsGOswdkRbFGY8j0BJFhJ~4nfllwWYU7g7Zp5mWxZQ4fRpTWv65AcYU50lfxdlXqTnOOBirHCbYTsssNygCNSQU95K1lT3RTWrHuIrFHq-X0ZHqVyMAJQFhpdU5qe3ftLfmCQGBvi-wk1kMRr6HC545HvGBHF76m3ehmSCMjInH1CR0I7m7PVahA__" alt="Módulo" />
        <span>
          <img src="assets/diversity_3.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>Gestión de relaciones laborales</h3>
          <p>
            Administra relaciones laborales, asegurando cumplimiento normativo y
            mejorando la comunicación interna.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/7f25/d147/ebf8bb29a24ba04786f5dd9b6f1bd85a?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ihrDAo0OPsPjGHrsM2b9WU-hYQ7nIhw7AxFCS9MgwK~VHE96wEmxkXNxT7zDOgndXNLkqV1J4OI3Gq10l~RXX2kYXU9-0RL5kH9DESQi~i1EV2DpCqgq1cygtrvA0nQT16EpzP7wa1Fp1GnUaFIZHFUipyUBi-fKp3mXtmoWcHz16Y~ToZHBAG-sTxVqnogOHvUGh3osjo2CuF-kDMyTcXcUuSFrP1jqjygILe-GGIgP8wYok1wDxzU0Hu0QJFqA843PLpPeGYkqsGfnAAp8k8Uww9oALAb~yrorM-HWJ0otlfxrp~LWHb4Ffl2wGiunMHR0POFx5y2ix91E2S8OOw__" alt="Módulo" />
        <span>
          <img src="assets/checklist.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Planificación</h3>
          <p>
            Apoya la planificación estratégica de recursos humanos, alineándola
            con los objetivos de negocio.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/af00/28cd/5736c15aaba28f0ddf0ab1501e99db5e?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hI18sXY0gZZp5ALIWGgcxyf1cWVVxg3TnnnNJtlCDxwVhryt46aRa50Anra-QOYjv3dACoNJ4VtsFzfBGI1I1ybzQf-nso3HXUAj2lmhxmErJ3gek5vjXekhk9GnGdCsSYtmse4riY4-JtkVKx5eEODJjwfc8kyQ5aUzSe2Lxk07a7zZ1Vn1Rt31UnHWoXnP0qLI7CmlyaZldD-tY8um-DPLZ2bNmpOfNNQB4SfSi~fNDD8T2i1BWgCtGfkLJMjThaMZmykMOCkdqNXPjoVkTdKEtFYojS7y~dD~lHL3IdYcwSVesndX2VjpVkMp0vs8KIrODnM7CTG7IamQUVN4lw__" alt="Módulo" />
        <span>
          <img src="assets/flight_takeoff.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Viáticos</h3>
          <p>
            Facilita la movilidad interna y externa, gestionando transferencias,
            promociones y asignaciones internacionales.
          </p>
        </div>
      </article>

      <article>
        <img src="https://s3-alpha-sig.figma.com/img/308b/ea32/985d42c1c4ae977d78e181cf85a230ae?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=a-2hOUO0EMUoP7heKI4mhbj0UYcbSzrfqU~U4pT3Xc2c6HCnaHIoPWonUS1wzlK4TjgfZuuRZDqi6DhBJxn1BqH5EyftXR2YmDtdjqTh4s2Dk8JoHz9~bO7X6Us6NzJMGpH-ianf1L~tDf1BBMdLyXn8Pzr78necq9FPPuF8trfOC9OKbtXJqufobk6aRowgcs2qKoNWlMc57tfzZa4v6QOTBegFJdJjhjYzQw930B0YUGMKJeti4wD0xhv2Wd~lhqL9bFovOrma7NQqXAvPU4nQ3Z3v~cCW0KgEOOm9ebY6vlAKjjNFFxLqERPGPiFGVgFmbZMK8c4diUSEYWGA3g__" alt="Módulo" />
        <span>
          <img src="assets/workspaces.png" alt="" />
        </span>
        <div class="text_modulo">
          <h3>Gestión inteligente de espacios de trabajo</h3>
          <p>
            Optimiza el uso de oficinas y salas, mejorando la eficiencia y
            flexibilidad del entorno laboral.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section class="section__trabajar">
    <h2 class="title__section">¿Por qué trabajar con nosotros?</h2>
    <div class="contain_s contenedor__trabajar">
      <article>
        <img
          src="assets/new_releases.png"
          alt="¿Por qué trabajar con nosotros?"
        />
        <b>+14 años</b>
        <p>Experiencia</p>
      </article>
      <article>
        <img
          src="assets/new_releases.png"
          alt="¿Por qué trabajar con nosotros?"
        />
        <b>+14 años</b>
        <p>Experiencia</p>
      </article>
      <article>
        <img
          src="assets/new_releases.png"
          alt="¿Por qué trabajar con nosotros?"
        />
        <b>+14 años</b>
        <p>Experiencia</p>
      </article>
    </div>
  </section>

  <section class="section__exito">
    <div class="contenedor__exito">
      <article class="text__exito">
        <h3>Historias de éxito</h3>
        <p>Testimonios breves de clientes satisfechos</p>
      </article>
      <article class="imgs__slider">
        <div class="slider_exito">
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
        </div>
        <div class="arrow__exito">
          <button>
            <i class="bx bx-left-arrow-alt"></i>
          </button>
          <button class="active__arrow">
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </article>
    </div>
  </section>

  <section class="section__apoyamos">
    <div class="contain_s contenedor__apoyamos">
      <article class="text_apoyamos">
        <h2>Te apoyamos en cada etapa para que avances continuamente</h2>
        <b> Un experto siempre a tu disposición </b>
        <p>
          ¡Somos un equipo! Desde el inicio, tendrás el respaldo de un experto
          para resolver dudas y enfrentar nuevos desafíos.
        </p>
        <b> Te ofrecemos consultoría cuando la necesites </b>
        <p>
          Realizamos sesiones de consultoría para encontrar soluciones a tus
          problemas conocidos y a los que aún no has identificado.
        </p>
        <b> Te mantenemos siempre informado de las novedades </b>
        <p>
          Nos aseguramos de que no te pierdas ninguna actualización y te
          apoyamos en tu crecimiento. Tu éxito es nuestro éxito, siempre.
        </p>
      </article>
      <article>
        <img src="assets/apoyar_img.png" alt="" />
      </article>
    </div>
  </section>

  <section class="section__transforma">
    <div class="contain_s contenedor__transforma">
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/3ff4/2b38/41b912dbd47bcafff7dc19c54f4189c4?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BVNqqy1JASDCU4LwD-yWKFY1oeQLkRNIyfYxDoBBxJoIcuQH3mk~~yT58vmI83wz7aaf4jHFaJM679inx-4t4txQMUkIlAwzyhJZeJtxYthRt8LIc46ILC2BqK51WQDrqcUl--4cUz7ioaurrjWCu5C8GxbU8KS2UvtesfPqpsEvVSGY-n8fzOCZuIYS4p6Apr-l6~c97Sew6wdUCPEgwmZsTKf~zPJxVx6pXVXjl9BPJC39yIS8VKwOlTw0lNFFiAo1Iuq50nUvf5xGJ-sEgYkVgxMMqsgvAEzxhbeIjisjN08J6xBISQVQFmf0WLpekou5Ik5Q52-MxVUF4llJsA__"
          alt="Nosotros"
        />
      </article>
      <article>
        <h2>
          <div>
            <span class="blue"> "Transforma la experiencia </span>
          </div>
          <div>de tu equipo y <span class="orange">acelera el</span></div>
          <div>
            <span class="orange">crecimiento</span>
            de tu negocio"
          </div>
        </h2>
      </article>
    </div>
  </section>

  <section class="section__contacto">
    <div class="contain_s contenedor__contacto">
      <article class="text__contacto">
        <h2>¿Listo para dar el gran paso hacia el crecimiento?</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic
          molestias, aliquam quo blanditiis iusto placeat saepe fuga accusamus
          ea modi.
        </p>
        <img src="assets/img_contacto.png" alt="Contacto" />
      </article>
      <article class="form__contacto">
        <form action="">
          <div class="content__form">
            <label for=""> Nombre de contacto </label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                placeholder="Nombre de contacto"
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Nombre de la empresa</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">RUC de la empresa</label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input type="number" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Número de colaboradores</label>
            <div class="content__icon">
              <img src="assets/colaboradores_img.png" alt="" />
              <select name="" id="" class="input">
                <option value="">Ej: 10 colaboradores</option>
              </select>
            </div>
          </div>
          <div class="content__form">
            <label for="">País</label>
            <div class="content__icon">
              <img src="assets/location_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                class="input"
                placeholder="empresa@gmail.com"
              />
            </div>
          </div>
          <div class="content_checks">
            <h2>¿En que te ayudamos?</h2>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Nóminas</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del tiempo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del talento</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Planificación</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión Inteligente de espacios de trabajo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Portal del empleado</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Presupuestos y costo de personal</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión de relaciones laborales</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Viáticos</label>
            </div>
          </div>
          <textarea
            class="textarea"
            name=""
            id=""
            placeholder="Escribe cualquier comentario o duda adicional"
          ></textarea>
          <button class="btn_all">Enviar</button>
        </form>
      </article>
    </div>
  </section>
</main>
<app-footer></app-footer>
