<app-header></app-header>
<div class="contenedor__banner">
  <div class="content_banner">
    <h2>Transforma la gestión de Recursos Humanos con Human Self Service</h2>
    <p>La solución integral para la gestión de RR.HH. en tu organización</p>
    <a href="/inicio#contacto" class="btn_all">Empezar ahora</a>
  </div>
</div>
<main>
  <section class="section__plataforma">
    <img src="assets/ellipse3.png" class="ellipse3" alt="" />
    <div class="contain_s contenedor__plataforma">
      <img src="assets/ellipse2.png" class="ellipse2" alt="" />
      <img src="assets/ellipse1.png" class="ellipse1" alt="" />
      <article class="text__plataforma">
        <h2>
          <span>Plataforma Integral de</span><br />
          Gestión Laboral y Recursos Humanos
        </h2>
        <p>
          Accede a toda la información de tu empresa en un solo lugar con Human.
          Nuestra plataforma web basada en la nube ofrece un entorno conectado y
          automatizado que facilita la toma de decisiones estratégicas.
          <br />
          <br />
          Desde la gestión de nóminas hasta el desarrollo de talento, Human te
          ofrece una solución completa y adaptable, diseñada para satisfacer las
          demandas de cualquier organización.
        </p>
      </article>
      <article class="img__plataforma">
        <img src="assets/macbook.png" alt="macbook" />
      </article>
    </div>
  </section>

  <section class="section__visibilidad">
    <div class="contain_s contenedor__visibilidad">
      <img src="assets/ellipse4.png" class="ellipse4" alt="" />
      <img src="assets/ellipse5.png" class="ellipse5" alt="" />
      <article class="img__visibilidad">
        <img src="assets/macbook2.png" alt="macbook" />
      </article>
      <article class="text__visibilidad">
        <h2>
          <span>Visibilidad total</span>
          <br />
          y Control Centralizado
        </h2>
        <p>
          Con Human, cada departamento de tu empresa está interconectado y
          accesible desde una única plataforma. Gestiona procesos, visualiza
          datos en tiempo real y toma decisiones informadas con facilidad.
          <br />
          <br />
          Nuestra solución adaptable y multisectorial garantiza que todos los
          aspectos de tu negocio estén bajo control, permitiendo una operación
          más eficiente y estratégica.
        </p>
      </article>
    </div>
  </section>

  <section class="section__elegir">
    <img src="assets/ellipse8.png" class="ellipse8" alt="" />
    <div class="contain_s contenedor__elegir">
      <img src="assets/ellipse6.png" class="ellipse6" alt="" />
      <img src="assets/ellipse7.png" class="ellipse7" alt="" />
      <article class="text__elegir">
        <h2>
          <span>¿Por qué elegir</span>
          Human?
        </h2>
        <ul>
          <li>
            <strong>Accesibilidad Total:</strong> Información centralizada en un
            único punto de acceso web.
          </li>
          <li>
            <strong>Visibilidad Integral:</strong> Automatización y conectividad
            para una toma de decisiones efectiva.
          </li>
          <li>
            <strong>Integración Versátil:</strong> Compatible con productos de
            terceros y adaptable a diversas necesidades.
          </li>
          <li>
            <strong>Adaptabilidad Completa:</strong> Personalización según la
            estructura y procesos de cada empresa.
          </li>
          <li>
            <strong>Mantenimiento Evolutivo:</strong> Plataforma continuamente
            actualizada con las últimas innovaciones.
          </li>
        </ul>
      </article>
      <article class="img__elegir">
        <img src="assets/mac_fondo.png" alt="macbook" />
        <video src="assets/mac_video.mp4" autoplay loop muted></video>
      </article>
    </div>
  </section>

  <section class="section__modulos">
    <img src="assets/ellipse9.png" class="ellipse9" alt="" />
    <img src="assets/ellipse10.png" class="ellipse10" alt="" />
    <img src="assets/ellipse11.png" class="ellipse11" alt="" />
    <img src="assets/ellipse12.png" class="ellipse12" alt="" />
    <h2 class="title__section">
      <span>Módulos de Human</span>
      <br />
      Potencia la gestión de Recursos Humanos
    </h2>
    <div class="contain_s contenedor__modulos">
      <article>
        <img src="assets/modulo1.jpg" alt="Módulo" />
        <span>
          <img src="assets/request_page.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Nóminas</h3>
          <p>
            Automatiza y gestiona nóminas con precisión, asegurando cumplimiento
            normativo y reduciendo errores administrativos.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo2.jpg" alt="Módulo" />
        <span>
          <img src="assets/business_center.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Portal del empleado</h3>
          <p>
            Ofrece autoservicio a los empleados para gestionar su información
            personal y solicitudes de permisos.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo3.jpg" alt="Módulo" />
        <span>
          <img src="assets/alarm.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Gestión del tiempo</h3>
          <p>
            Optimiza el seguimiento de horas trabajadas y planificación de
            turnos, mejorando la eficiencia operativa.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo4.jpg" alt="Módulo" />
        <span>
          <img src="assets/supervised_user_circle.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Presupuestos y costo de personal</h3>
          <p>
            Controla y analiza los costes de personal, facilitando una
            planificación financiera eficiente y precisa.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo5.jpg" alt="Módulo" />
        <span>
          <img src="assets/clinical_notes.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Gestión del talento</h3>
          <p>
            Desarrolla y retén el talento con herramientas de evaluación de
            desempeño, planes de carrera y capacitación.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo6.jpg" alt="Módulo" />
        <span>
          <img src="assets/diversity_3.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>Gestión de relaciones laborales</h3>
          <p>
            Administra relaciones laborales, asegurando cumplimiento normativo y
            mejorando la comunicación interna.
          </p>
        </div>
      </article>

      <article>
        <img
          src="assets/modulo7.jpg" 
          alt="Módulo"
        />
        <span>
          <img src="assets/checklist.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Planificación</h3>
          <p>
            Apoya la planificación estratégica de recursos humanos, alineándola
            con los objetivos de negocio.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo8.jpg" alt="Módulo" />
        <span>
          <img src="assets/flight_takeoff.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>HR Viáticos</h3>
          <p>
            Facilita la movilidad interna y externa, gestionando transferencias,
            promociones y asignaciones internacionales.
          </p>
        </div>
      </article>

      <article>
        <img src="assets/modulo9.jpg" alt="Módulo" />
        <span>
          <img src="assets/workspaces.svg" alt="" />
        </span>
        <div class="text_modulo">
          <h3>Gestión inteligente de espacios de trabajo</h3>
          <p>
            Optimiza el uso de oficinas y salas, mejorando la eficiencia y
            flexibilidad del entorno laboral.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section class="section__trabajar" #trabajarSection>
    <h2 class="title__section">¿Por qué trabajar con nosotros?</h2>
    <div class="contain_s contenedor__trabajar">
      <article>
        <img
          src="assets/new_releases.png"
          alt="¿Por qué trabajar con nosotros?"
        />
        <b>+{{ yearsExperience }} años</b>
        <p>Experiencia</p>
      </article>
      <article>
        <img src="assets/apartment.png" alt="¿Por qué trabajar con nosotros?" />
        <b>+{{ companies }}</b>
        <p>Empresas satisfechas</p>
      </article>
      <article>
        <img
          src="assets/person_check.png"
          alt="¿Por qué trabajar con nosotros?"
        />
        <b>{{ customerSatisfaction }} %</b>
        <p>De satisfacción en atención al cliente</p>
      </article>
    </div>
  </section>

  <section class="section__exito">
    <div class="contenedor__exito">
      <article class="text__exito">
        <h3>Historias de éxito</h3>
        <p>Testimonios breves de clientes satisfechos</p>
      </article>
      <article class="imgs__slider">
        <div class="slider_exito" #sliderExito>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/3cb5/b709/a714b255bc01e9255503df3811d5e997?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AwhqHptFhkipNoXqmS0X3V-z5DYGEeXOwd1sKZR~RTkqgfappCdvLmaPYdgu2WfF-RjGK9kgU1bwWFucibvli5GcbxXkYYcqICfJkT6jLkFKV2lrJwMgFhLwVCvBPZf9GkAKooHYtrKu0NTkcPtue1TiYPpF2edBxpDN6rsDMuylDKQ~EbIQuKAIrCBhR0-ssDlNAwW3SaqH96OH4eZD~nOjjyqoiuv1j4KFvrOJBtS7agpJ0c5ef9Esdrhzuu2iu-exxioc9nTmhpHmOmqPX1JdeupQAXUCmOHyPpuO6uwBX1a4OMVpb3HbKk0Wi2jOxRiR4GeXj9Icnjf1i~CBTA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Ana Martínez</h3>
                  <span>Gerente de RR.HH / Innovatech Solutions</span>
                </div>
              </div>
              <p>
                Desde que implementamos Human en Innovatech Solutions, hemos
                visto una mejora significativa en nuestra eficiencia operativa.
                La centralización de toda la información de los empleados y la
                automatización de procesos clave nos ha permitido dedicar más
                tiempo a estrategias de desarrollo y menos a tareas
                administrativas. Human ha transformado por completo nuestra
                gestión de recursos humanos.
              </p>
            </div>
          </div>
          <div class="slide_exito">
            <div class="content__exito">
              <div class="img__circle">
                <img
                  src="https://s3-alpha-sig.figma.com/img/7f31/76d1/5ddef01d39f33b711ad7da10be137285?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=n~rstL7bRTmktk4bFHSZ6d-uVsAUFC5iiX-kPw6WW3x8MCoXM2PMfPfvEBh4-~TjbOh5XKpsyHhHrddMVO6c7y1gKUwuDj8AWfJ9QwkUztilNo-LYZE1NYru9MRa59EdPuDM3Nms~WMMoSKO1GqnMEw2nzE0erCuXNO2TRbIRpp5S2KRNAPyGOO6Gtu95Ws5dpE4fV5zWTRP~FJtMBqY6VuWKdkdQPaHKRbO5te9VXlKLG7EG2sP2LSCZZ9Hzx0rD1TBqajO7de7fC5EHKs~P0a0LFexQgjU1QwaAiN-uDBV0D-w0kGasv6S46N0szz6X9qnRJE9~l3~OXsqiywKoA__"
                  alt="Testimonio"
                />
                <div>
                  <h3>Juan Pérez</h3>
                  <span>Directo de RR.HH / Future Enterprises</span>
                </div>
              </div>
              <p>
                Human ha sido una herramienta revolucionaria para nuestra
                empresa. La incorporación automatizada y el seguimiento del
                tiempo libre han simplificado enormemente la administración de
                personal. Además, las opciones de personalización nos han
                permitido adaptar la plataforma a nuestras necesidades
                específicas, creando un sistema que realmente se siente como una
                extensión de nuestra marca. Recomiendo altamente Human a
                cualquier empresa que busque optimizar su gestión de RR.HH.
              </p>
            </div>
          </div>
        </div>
        <div class="arrow__exito">
          <button
            [ngClass]="{ active__arrow: activeButton === 'left' }"
            (click)="leftExito()"
          >
            <i class="bx bx-left-arrow-alt"></i>
          </button>
          <button
            [ngClass]="{ active__arrow: activeButton === 'right' }"
            (click)="rightExito()"
          >
            <i class="bx bx-right-arrow-alt"></i>
          </button>
        </div>
      </article>
    </div>
  </section>

  <section class="section__apoyamos">
    <div class="contain_s contenedor__apoyamos">
      <article class="text_apoyamos">
        <h2>Te apoyamos en cada etapa para que avances continuamente</h2>
        <b> Un experto siempre a tu disposición </b>
        <p>
          ¡Somos un equipo! Desde el inicio, tendrás el respaldo de un experto
          para resolver dudas y enfrentar nuevos desafíos.
        </p>
        <b> Te ofrecemos consultoría cuando la necesites </b>
        <p>
          Realizamos sesiones de consultoría para encontrar soluciones a tus
          problemas conocidos y a los que aún no has identificado.
        </p>
        <b> Te mantenemos siempre informado de las novedades </b>
        <p>
          Nos aseguramos de que no te pierdas ninguna actualización y te
          apoyamos en tu crecimiento. Tu éxito es nuestro éxito, siempre.
        </p>
      </article>
      <article class="img_apoyamos">
        <img src="assets/ellipse56.png" class="ellipse56" alt="" />
        <img src="assets/ellipse57.png" class="ellipse57" alt="" />
        <img src="assets/apoyar1_img.png" class="img1_apoyar" alt="" />
        <img src="assets/apoyar2_img.png" class="img2_apoyar" alt="" />
      </article>
    </div>
  </section>

  <section class="section__transforma">
    <img src="assets/ellipse42.png" class="ellipse42" alt="" />
    <div class="contain_s contenedor__transforma">
      <article>
        <img
          src="https://s3-alpha-sig.figma.com/img/3ff4/2b38/41b912dbd47bcafff7dc19c54f4189c4?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BVNqqy1JASDCU4LwD-yWKFY1oeQLkRNIyfYxDoBBxJoIcuQH3mk~~yT58vmI83wz7aaf4jHFaJM679inx-4t4txQMUkIlAwzyhJZeJtxYthRt8LIc46ILC2BqK51WQDrqcUl--4cUz7ioaurrjWCu5C8GxbU8KS2UvtesfPqpsEvVSGY-n8fzOCZuIYS4p6Apr-l6~c97Sew6wdUCPEgwmZsTKf~zPJxVx6pXVXjl9BPJC39yIS8VKwOlTw0lNFFiAo1Iuq50nUvf5xGJ-sEgYkVgxMMqsgvAEzxhbeIjisjN08J6xBISQVQFmf0WLpekou5Ik5Q52-MxVUF4llJsA__"
          alt="Nosotros"
        />
      </article>
      <article>
        <h2>
          <div>
            <span class="blue"> "Transforma la experiencia </span>
          </div>
          <div>de tu equipo y <span class="orange">acelera el</span></div>
          <div>
            <span class="orange">crecimiento</span>
            de tu negocio"
          </div>
        </h2>
      </article>
    </div>
    <img src="assets/ellipse43.png" class="ellipse43" alt="" />
  </section>

  <section class="section__contacto" id="contacto">
    <div class="contain_s contenedor__contacto">
      <article class="text__contacto">
        <div>
          <h2>¿Listo para dar el gran paso hacia el crecimiento?</h2>
          <p>
            Completa el siguiente formulario y descubre cómo Human puede
            transformar la gestión de recursos humanos en tu empresa.
          </p>
        </div>
        <img src="assets/img_contacto.png" alt="Contacto" />
      </article>
      <article class="form__contacto">
        <form action="">
          <div class="content__form">
            <label for=""> Nombre de contacto </label>
            <div class="content__icon">
              <img src="assets/nombre_img.png" alt="" />
              <input
                type="text"
                class="input"
                placeholder="Nombre de contacto"
              />
            </div>
          </div>
          <div class="content__form">
            <label for="">Nombre de la empresa</label>
            <div class="content__icon">
              <img src="assets/empresa_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">RUC de la empresa</label>
            <div class="content__icon">
              <input type="number" class="input ruc" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Número de colaboradores</label>
            <div class="content__icon">
              <img src="assets/colaboradores_img.png" alt="" />
              <select name="" id="" class="input">
                <option value="">Ej: 10 colaboradores</option>
                <option value="10">De 10 a 50 colaboradores</option>
                <option value="51">De 51 a 100 colaboradores</option>
                <option value="101">De 101 a 200 colaboradores</option>
                <option value="201">De 201 a 500 colaboradores</option>
                <option value="501">Más de 500 colaboradores</option>
              </select>
            </div>
          </div>
          <div class="content__form">
            <label for="">País</label>
            <div class="content__icon">
              <img src="assets/location_img.png" alt="" />
              <input type="text" class="input" />
            </div>
          </div>
          <div class="content__form">
            <label for="">Correo electrónico</label>
            <div class="content__icon">
              <img src="assets/email_img.png" alt="" />
              <input
                type="email"
                class="input"
                placeholder="empresa@gmail.com"
              />
            </div>
          </div>
          <div class="content_checks">
            <h2>¿En que te ayudamos?</h2>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Nóminas</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del tiempo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Gestión del talento</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Planificación</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión Inteligente de espacios de trabajo</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Portal del empleado</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Presupuestos y costo de personal</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">Gestión de relaciones laborales</label>
            </div>
            <div class="check">
              <input type="checkbox" name="" id="" />
              <label for="">HR Viáticos</label>
            </div>
          </div>
          <textarea
            class="textarea"
            name=""
            id=""
            placeholder="Escribe cualquier comentario o pregunta adicional"
          ></textarea>
          <button class="btn_all">Enviar</button>
        </form>
      </article>
    </div>
  </section>
</main>
<app-footer></app-footer>
